[2013-01-10 18:15] JacekLach opened #6 "Write release scripts to prevent more deployment confusion"
The following steps should be taken for a release:

1. Check that the current branch is in sync with lshift/cloverage:master
2. Run all the tests.
3. Drop -SNAPSHOT suffixes from current version of both projects.
4. Update cloverage version in lein-cloverage/src/leiningen/cloverage.clj
5. `git commit -m 'Release cloverage $VERSION' and lein-cloverage $PLUGIN-VERSION`
6. `git tag -s cloverage-$VERS

[2013-04-10 15:14] johnwright opened #23 "Coverage within `for` comprehensions is always partial"
Use of `for` in code under test seems to always result in an orange, partially-covered state in the coverage report.

e.g. given a namespace containing:

    (def foo
      (for [x [1 2 3]]
        x))

    (println foo)

...the line containing the `for` lights up orange, while the `def` and `println` lines are green.

[2013-08-02 17:28] nickmbailey opened #25 "Cloverage should return a non zero exit code when tests fail"

[2014-02-05 10:39] AeroNotix opened #35 "Merge coverage reports from different sources"
Sometimes you are testing your system with various methods, some using lein test, some using a load testing suite or whatever.

it'd be nice to have a format which is amenable to merging. Some raw-ish formet. Perhaps cobertura reports?

(PS. any hints on the raw information? I went to add cobertura reports and wasn't sure where to start picking information out the final dataset.)

[2014-05-07 18:56] timclemons opened #47 "potemkin/defrecord+ results in cloverage RuntimeException"
Using `defrecord+` in the potemkin library, https://github.com/ztellman/potemkin, can result in an RuntimeException when running cloverage on the code.

The error appears to depend on having a `let` block inside one of the record's methods.  Here's a minimal repro:

[code]

Running `lein cloverage` results in the following exception:

[code]

Removing the `let` or using regular `defrecord` both ke

[2014-07-08 23:49] wilsonch opened #52 "Cloverage incorrectly reporting test failures"
I'm seeing that "lein cloverage" (version 1.0.2) is reporting test failures even though "lein test" is reporting none.

In my code I do catch all exceptions and log them using timbre. Does this impact how cloverage reports errors?

Report as generated by lein cloverage:
Ran 23 tests containing 51 assertions.
5 failures, 0 errors.
Ran tests.
Produced output in /Users/foo/projects/blah/target/covera

[2014-08-06 03:54] voj opened #54 "Support leiningen test selectors"
Leiningen test supports selectors for tests [(see documentation)](https://github.com/technomancy/leiningen/blob/2.4.3/src/leiningen/test.clj#L164) that allow for the inclusion or exclusion of tests when running `lein test`.

For example, we have some integration tests that we only want to run sometimes under (manually) controlled circumstances because they would cause mayhem otherwise. Cloverage s

[2014-08-22 20:47] MichaelBlume opened #55 "HTML injection in coverage file"
https://github.com/MichaelBlume/cloverage-example

run lein cloverage

open the coverage file for the one piece of source

observe the large formatted text

[2015-03-01 15:41] jvah opened #59 "Code coverage with cloverage suddenly failing with compojure 1.3.2"
See the test case in https://github.com/jvah/compojure-cloverage-crash.

If I run lein test everything passes but lein cloverage crashes, so I'm suspecting this might actually be a bug in how cloverage instruments the code. Had a small discussion about this at compojure issue https://github.com/weavejester/compojure/issues/135 which you might want to look at. Any pointers on how to fix this would

[2015-03-11 01:55] mwmitchell commented on #59
I'm having the same problem.

[2015-03-11 20:52] jvah commented on #59
I created a simple test case for this, the problem is clearly creating a record inside a macro, need to investigate further.

src/foobar/core.clj:
[code]

test/foobar/core_test.clj
[code]

Running tests outputs:
[code]

Running cloverage outputs:
[code]

[2015-03-11 20:57] mwmitchell commented on #59
I just discovered something interesting too. If you use the java method instead of the Clojure function, the tests pass. Can you try this out?

`
(defn foo [arg]
  (.test-method (get-proto-impl "foo") arg))
`

[2015-03-11 20:59] jvah commented on #59
You are right, that passes and coverage seems to be correct...

[2015-03-11 21:07] jvah commented on #59
Without the dot running with cloverage debug it outputs:

[code]

With the dot it outputs instead:
[code]

[2015-03-12 10:43] jvah commented on #59
Found where the actual problem lies, the record gets expanded to the actual value in the macro, and cloverage simple doesn't support instrumenting records, this does not happen with the dot notation because :dotjava handling apparently does not expand its arguments (I think it probably should though?). Not sure if this is one or two bugs right now...however debug about the protocol-turned-into-map

[2015-03-23 12:53] muhuk opened #60 "Namespace filtering doesn't work."
I am running the following command on [clecs](https://github.com/muhuk/clecs/commit/a650bf109aa4f82bdbe369bc1019727c8f54e3c0):

    lein cloverage -o target/doc/coverage -n "clecs\.world"

It's still loading namespaces that doesn't match the regex:

    Loading namespaces:  (writer clecs.test.mock clecs.backend.atom-world clecs.component clecs.query clecs.system clecs.util clecs.world)

Am I doing

[2015-03-29 12:08] muhuk commented on #60
Nevermind this. I moved codox writer to a different profile.

[2015-03-29 12:08] #60 closed

[2015-04-04 17:36] MichaelBlume opened #61 "Cloverage seems not to correctly handle record instances in the AST"
Minimal demonstration: https://github.com/MichaelBlume/cloverage-record-fail (run ```lein do test, cloverage``` and you'll see that tests pass but the coverage report fails)

Real-world problem: https://github.com/MichaelBlume/compojure-cloverage-fail and https://github.com/weavejester/compojure/issues/138

[2015-04-04 18:11] MichaelBlume commented on #61
*looks at #59 * Ah, looks like I'm late to the party

[2015-04-04 18:11] #61 closed

[2015-04-21 11:46] palfrey opened #63 "Submit files to Coveralls"
Make it possible to submit the generate Coveralls report without having to do something like the Bash workaround from http://blog.bfontaine.net/2014/02/15/using-coveralls-with-clojure/

[2015-04-23 09:28] palfrey opened #64 "Add midje support"
(Related to #22 and #56, but more explicit)

Reason why the 'Ran x tests containing y assertions.' message doesn't work by default is that Cloverage uses clojure.test/run-tests internally and needs it's results in order to be able to do the right thing. As midje doesn't return the right results for "lein test", it also fails here.

Worse, midje.repl/load-facts doesn't actually return test results.

[2015-04-24 16:36] palfrey commented on #25
Pretty sure this is now the case. Do you have an example of this failing?

[2015-04-27 09:55] palfrey commented on #6
I've plugged in lein-release and used it to do the new release, so closing this one. It's very simple to use, and now documented in the README

[2015-04-27 09:55] #6 closed

[2015-04-28 01:06] BinarySplit opened #66 "Issue instrumenting Clout CompiledRoute records"
I've put a reduced test case here: https://github.com/BinarySplit/cloverage-compojure-repro.git

When running cloverage on this project, I get this exception:

This exception wasn't occurring on Cloverage prior to the 935b65f19ec1c66d87377f2fcea73022aa1dc7fd commit, however I have been using [cloverage-compojure-fix](https://github.com/MichaelBlume/cloverage-compojure-fix) to get Cloverage to work

[2015-04-28 09:29] palfrey commented on #66
Thanks for the testcase. Investigating now...

[2015-04-28 22:44] MichaelBlume commented on #66
Ah, I have a problem too, it's suggestive that we're both using compojure-api...

[2015-04-28 23:25] MichaelBlume commented on #66
Ok, so when I instrument https://github.com/weavejester/clout/blob/master/src/clout/core.clj#L46 to print out the value of ```re```, its value appears to be ```(cloverage.instrument/wrapm cloverage.coverage/track-coverage 125 #"/api/api-docs")``` -- so I think maybe there's some kind of quoting problem? Like it looks like a piece of code is being passed where the data it should evaluate to should

[2015-04-28 23:56] stuarthalloway commented on #66
;; test case
    (deftest do-wrap-for-record-returns-record
      (is (= (Record. 1) (eval (wrap #'nop 0 (Record. 1))))))

[2015-04-29 10:14] palfrey commented on #66
I've got a partial fix as #69, which works by disabling some of the further record wrapping that 935b65f / #59 introduced. It certainly fixes the reduced test case, but if anyone has any larger code bases they want to check against, that would be most welcomed.

Test steps:
1. Checkout #69.
2. Go into cloverage folder, and run `lein install` to install a local snapshot copy of Cloverage.
3. Run `C

[2015-04-29 10:49] palfrey commented on #66
Ha! #69 now has a much better fix, which doesn't disable the existing Record wrapping, but improves it, *and* works with the reduced test case :) Checking with other code bases (using the previously listed steps) is encouraged before I merge it however.

[2015-04-30 09:14] palfrey commented on #66
Merging of #69 appears to now fix this. New release sometime soon...

[2015-04-30 09:14] #66 closed

[2015-05-01 20:37] MichaelBlume commented on #23
Yeah, I'm running into this.

Best thing I can think of -- on any invocation of `for` or `doseq`, macroexpand, walk the generated code for calls to (if (clojure.core/chunked-seq? _) tf ff) and replace them with ff

[2015-05-08 03:03] MichaelBlume commented on #23
I made what I think is a valiant attempt at fixing this bug here https://github.com/MichaelBlume/cloverage/commit/d19b84961c50cb2a005a53f32624132ef4e2f637 but it's failing with errors I don't understand. Maybe someone who understands the instrumentation process better can help me debug it?

[2015-05-08 03:19] MichaelBlume commented on #23
Ha, actually I think I fixed it, pull to follow =)

[2015-05-08 21:30] nickmbailey commented on #25
Nope, this looks like it is fixed in the latest version.

[2015-05-08 21:30] #25 closed

[2015-05-15 21:35] MichaelBlume commented on #54
@ftomassetti did you ever come up with something that works? I'm happy to work on this if not, but I don't want to duplicate your work.

[2015-05-16 07:50] ftomassetti commented on #54
Go ahead: I stopped because I was copying way too much code from lein-test and I got studi. Hope you can deliver this feature!

[2015-05-21 01:17] MichaelBlume opened #74 "Cloverage seems not to play nicely with gen-class and Clojure 1.7"
This seems to be a new problem with Clojure 1.7

https://github.com/MichaelBlume/gen-class-fail

The issue seems to date from https://github.com/clojure/clojure/commit/8af7e9a which first landed in version 1.7.0-alpha3

[2015-05-21 01:33] MichaelBlume commented on #74
Dumb hack -- adding (clojure.lang.RT/classForName "fully.qualified.name.of.Class") to the top of the namespace which imports the class seems to fix the problem.

[2015-05-23 17:54] MichaelBlume opened #75 "Support for REPL-driven development"
When I'm developing in Clojure I basically always have my editor hooked up to an nREPL server. When I write a test, I run it immediately. If I want to know what code the test covers, I have to run `lein cloverage` in a shell, wait for a clojure runtime to start up, for my code to be instrumented, for all my tests to run, and for a report to be generated, before I can look at the report in my brows

[2015-05-27 16:04] remleduff commented on #74
I'm running your reproducer and I'm not sure what it is that I'm looking at.

How do I tell whether there is coverage in gen-class-fail.class or not?

[2015-06-06 18:23] Tirex opened #76 "Incorect coverage result"
Trying test this sample
https://github.com/Tirex/clojure1
And check coverage.
![cloverage](https://cloud.githubusercontent.com/assets/1099257/8020866/12c014f2-0cab-11e5-95a3-3e674741b836.png)
In the tests lines 10 and 11 are covered, but not counted and not highlighted.

Works correctly if change it in one line:
![scr3](https://cloud.githubusercontent.com/assets/1099257/8022424/6cbd956e-0cf2-11e5-

[2015-06-18 22:36] joelittlejohn commented on #64
Since coverage is already accurately recorded when using midje, and the only problem seems to the message that states `Ran 0 tests containing 0 assertions.`, can we just remove this message?

[2015-06-22 16:17] palfrey commented on #64
@joelittlejohn: No, because we can't easily (AFAIK) tell the difference between someone with only Midje tests, and someone with no tests, and that result is the same either way. Also, removing it is tricky because that's clojure.test doing the output, not Cloverage.

[2015-07-22 14:22] palfrey commented on #76
Now that #79 has been merged, this might be fixed.

[2015-07-24 07:43] Tirex commented on #76
Try current master, same thing.

[2015-07-26 00:02] dlobue commented on #76
So the reason why this is happening is because metadata containing line information isn't attached to base types like strings or numbers. The following would take advantage #79 for example:

    (if (= i 0)
        (str "0")
        (str "1"))

[2015-07-30 16:13] alexander-yakushev opened #82 "Incorrect coverage of macros"
I understand that macros are different beasts, and since they expand at compile time Cloverage has less (none?) control over them. But I have quite a few namespaces that are macro-heavy, and seeing them as mostly red is depressing.

Is there anything that can be done about it, or am I doing something wrong?

[2015-07-30 16:35] palfrey commented on #47
Both riddley (to 0.1.10) and tools.cli (to 0.3.1) are now upgraded. Are you still seeing this problem?

[2015-08-14 20:59] drbobbeaty opened #83 "Maybe a Simple Usage Problem?"
I've recently added Cloverage to four of my projects. The first, a library that's used in the other three, tests fine and given me good results - to the limits of the tool, which is _fine_. Most importantly _**it runs**_.

Then when I run Cloverage on any of the projects that has that built library as a `:dependency`, I get the following:

[code]

I installed it in the `project.clj` just exactly l

[2015-08-22 11:16] Idorobots opened #84 "Cloverage crashes when instrumenting my monads :sob:"
So, I wrote this set of macros:

[code]

...which are ment to flatten code that is heavy on crude error checking, but I've run into issues with Cloverage in case the body of `with-error-checking` contains a `case` expression.
Here's the minimal reproduction resulting in Cloverage throwing `java.lang.NegativeArraySizeException` during instrumentation:

[code]

The behaviour is different if you chan

[2015-08-22 11:46] Idorobots commented on #84
I did some more testing and the problem appears on all available Cloverage versions (including `1.0.7-SNAPSHOT`).

[2015-09-15 21:26] venantius opened #85 "Cloverage doesn't like Aleph"
Trying to run Cloverage on my service using [Aleph](https://github.com/ztellman/aleph) as an http server causes Cloverage to crash with the following exception:

[code]

I've narrowed this down to the pure `require` statement -- even having this in a project namespace causes the above error, regardless of whether anything else in particular from Aleph was in use or not:

[code]

cc @ztellman in ca

[2015-10-29 13:12] Tirex opened #86 "'for' incorrect coverage"
Line in body of 'for' statement not counted in statistics and not highlited as not covered.
![for_coverage](https://cloud.githubusercontent.com/assets/1099257/10819157/c7c0cd9c-7e70-11e5-93ab-6a0a3b7dfe93.png)

test from this sample
https://github.com/Tirex/clojure1

[2015-11-13 07:51] markjfisher opened #87 "loaded src files don't show in html report"
I have a lot of code to split larger namespaces up like this:

    (ns foo.data)
    (load "data/type1")
    (load "data/type2")

The html summary report only shows "foo.data" as a single entry (which makes sense, it's just one namespace), but going to its coverage page only shows the load lines as green, non of the subfiles are available AFAICT.

Is it possible to drill into each loaded file to s

[2015-11-13 07:59] markjfisher opened #88 "Repeating tests"
Some of my test classes are being run multiple times

Just running lein test:

    $ lein test
    lein test checkin-queue.auth-test
    lein test checkin-queue.data-test
    ...
    lein test checkin-queue.schema-test
    lein test checkin-queue.util-test

    Ran 142 tests containing 578 assertions.
    0 failures, 0 errors.

With cloverage:

    $ lein cloverage
    Loading namespaces:  (checki

[2015-11-13 13:52] markjfisher commented on #88
turned out I had an incorrect namespace in one of my tests. the file was named errors_test.clj but the namespace was auth-test.clj (a duplicate in another file). They are aligned again now i've set the namespace correctly, but it's interesting that cloverage ran the entire auth-test tests again.

[2015-11-19 14:42] ivajloip commented on #83
I have the same problem. Has anybody managed to resolve it?

[2015-11-22 01:36] MichaelBlume commented on #83
Just got this today, will update if I sort it

[2015-12-25 05:37] saulshanabrook opened #91 "Can't narrow down test ns"
I can't manage to remove a -ny test namespaces. The `--ns-exclude-regex` command is working but neither the `--test-ns-regex` nor the `--test-ns-path` change the `Test namespaces: ` at all. I have tried them with a variety of things and it always prints the same list of test namespaces.

[2016-01-05 05:31] arrdem commented on #85
It looks like this is a bug in the analyzer's handling of the `do` form at the top level. I get a similar failure when attempting to analyze usages of my guten-tag library which emits problematic top level do forms.

[2016-01-13 21:04] Ragnaroek opened #94 "feature-request: output statistic result in edn"
additionally to the txt output, output result in https://github.com/edn-format/edn.

This would make further data processing easier.

[2016-02-10 09:53] codeitagile commented on #83
I am getting this today

[2016-03-16 18:26] lvh commented on #63
I think this is resolved in 1.0.7-SNAPSHOT. See it working here:

https://github.com/RackSec/desdemona/blob/master/.travis.yml#L63-L64

[2016-03-27 00:02] lumengxi commented on #83
Any working solutions so far? Got same errors.

[2016-05-04 20:38] wiseman opened #97 ".cljc support"
It [looks like](https://github.com/lshift/cloverage/blob/38da3b05b6ebadfa1d84c24c1a8f1f9d2fb80fd5/cloverage/src/cloverage/source.clj#L7) cloverage doesn't work with `.cljc` files, is that correct?

I'm seeing an error when I run `lein cloverage` with 1.0.6. I have a file called `pid.cljc`, but not `pid.clj`.

[code]

[2016-05-05 09:21] palfrey commented on #97
Correct. Duplicate of #93

[2016-05-05 09:21] #97 closed

[2016-05-06 12:23] raszi opened #98 "Boot support"
Are you planning to add support for the [Boot](https://github.com/boot-clj/boot) framework?

[2016-05-28 16:38] kevinludwig opened #99 "Coverage thresholds"
It would be nice to have support for coverage thresholds, so that if a configured threshold isn't met, the build can be failed. This is a fairly common coverage tool feature.

[2016-06-08 12:51] mishadoff opened #100 "Cloverage doesn't support Cyrillic in HTML report view"
Not a critical in my use-case, but
accessing generated HTML report for coverage, show invalid characters for Cyrillic characters

![](http://i.imgur.com/avx31No.png)

[2016-06-08 12:56] mishadoff commented on #100
Adding `<meta http-equiv="Content-Type" content="text/html; charset=utf-8">` to `<head>` fix the issue

[2016-07-02 16:55] lvh opened #102 "Cloverage instrumentation breaks type hints, making tests run differently"
Here's an example run demonstrating the issue:

https://travis-ci.org/lvh/caesium/jobs/141869494

Tests run fine without cloverage. With cloverage, the type hints break. This apparently is bad enough that the reflector can't find a matching method!

[2016-07-27 13:50] rm-hull opened #103 "Project status"
Hi, @palfrey / @JacekLach

Seems like this project has been quite inactive lately and there are several open issues and PR's that would fix some minor problems.

If Lshift are no longer interested in maintaining this tool, perhaps ownership should be transferred to the community - possibly under a cloverage github organization where interested parties can provide active maintenance. What do you th

[2016-07-27 13:59] lvh commented on #103
I've wanted to write up something similar by finding a custodian first, but haven't gotten around to it, so thanks for writing this :)

It'd be pretty sad if it went to another location where it would once again become unmaintained. One of the avenues I've considered is talking to Cognitect -- mostly because this project would obviously benefit from having eyes on it that are also intimately famil

[2016-07-27 14:26] FossiFoo commented on #103
I'd sure pitch in. This project is pretty relevant to my workflow and well-being. ;)

[2016-07-27 14:41] JacekLach commented on #103
Indeed I don't really have the time to maintain the project anymore, since I haven't done anything in clojure in a long while.

@palfrey I believe the clojars login/password is in the travisci build settings, if you don't know what it is. I've made the https://github.com/cloverage team a while ago, but we never got to moving the project there; happy to hand it over to you if you're up for coordina

[2016-07-29 22:04] carrete commented on #103
@rfkm has kept up his own fork at https://github.com/rfkm/cloverage. S/he seems a likely candidate.

[2016-07-29 22:28] lvh commented on #103
Cool! Fragmenting the cloverage namespace again seems unfortunate though... We haven't heard from anyone from lshift yet, but maybe pinging some people works: @david-lshift @ash-lshift @irene-lshift @IanRogers-LShift ? That seems important because they own the cloverage real estate...

@rfkm, would you be interested in moving your changes into one location?

If someone is willing to give me approp

[2016-08-01 13:01] IanRogers-LShift commented on #103
Hi @lvh, @JacekLach

LShift have had a bit of a chat in house (not much though) and Jacek's idea of moving it to https://github.com/cloverage to encourage a wider community seems like a good one. I'm not really involved with clojure at all any more but personally I'd prefer cloverage to thrive rather than be over-protective of it. @palfrey is kinda the guardian at the moment.

So if you do fork ma

[2016-08-01 13:45] palfrey commented on #103
As @IanRogers-LShift said :) My basic concern is who has ultimate authority for accepting PRs and doing new releases. There isn't really any internal LShift interest from anyone in particular in dealing with this at the moment, so if the community of folks that have been sending in PRs to this want to nominate someone to be in the driving seat, we'd probably be happy handing it over to them.

[2016-08-01 13:48] lvh commented on #103
cloverage organization with a few maintainers (to reduce bus number) seems like a good idea; so I guess step one is to move the repo to cloverage/cloverage and make that the canonical repository.

I can probably spend some cycles this week at least clearing out the PR backlog.

[2016-08-01 13:51] rfkm commented on #103
@lvh
Sorry, I missed notifications.
Yeah, it sounds great :) Please feel free to move my changes to a new location.
I'm willing to help you do that if you need, while I also don't have much time to maintain the project.

[2016-08-01 15:06] palfrey commented on #103
So, I've just spoke a bit further to folks here, and here's a proposal. I'm seeing a fair amount of enthusiasm here, but we're concerned that there might be the problem of people being initially enthusiastic but then dropping off pretty quickly. To try and combat that, and also so we've still got a little bit of control over this, here's what we're thinking:

* Project for the moment stays in the

[2016-08-01 15:31] lvh commented on #103
I was typing up something roughly equivalent, but first transferring it to the `cloverage` org, since the LShift folks have indicated that they're not interested in maintaining it on any timeline -- so the cloverage org seems more appropriate. Even if there is a marked drop-off in enthusiasm after e.g. cleaning the current backlog, having the repo live here doesn't fix the lack of maintainers. Sim

[2016-08-01 18:47] bostonaholic commented on #103
I love that this conversation is happening. I'd love to see cloverage continue since I use it for several different OSS projects of mine. I'd also be interested in getting more involved in maintaining this tool.

I just created #cloverage in the Clojurians Slack channel to have more in-depth conversations.

[2016-08-01 23:57] jasonracey opened #104 "line coverage percentage affected by certain forms"
It appears that certain forms are automatically counted as being covered. This might be because these cases do not contain any logic, but the fact that they are used to calculate lines covered % can generate a misleading result. Here's an example of how to get cloverage to report 100% line coverage when there are no tests:

[code]
[code]
![case-a](https://cloud.githubusercontent.com/assets/1404311

[2016-08-08 05:33] jarnovayrynen commented on #103
Happy to see this discussion taking place. I hope cloverage will get more active again so that it'll stay relevant. Maybe at first we should find a way clearing the current issue/PR queue. I can occasionally review some changes but I don't currently have time to become the actual maintainer.

[2016-08-08 12:49] lvh commented on #103
Cool -- good to see we have ample volunteers :D I'm happy to pick up the suggested tasks, waiting on feedback from LShift :)

[2016-08-08 16:02] palfrey commented on #103
Apologies for lack of responses over the past few days, as I've been dealing with one of our (paying) projects that needed all my time :smile:

So, we're still keeping the project here for the time being. Part of this is a simple matter of publicity: we did a lot of work on this project, even if we're doing less so now, and so we'd like to still benefit from it being within our organisation. Anoth

[2016-08-08 20:38] lvh commented on #103
@palfrey Thanks :) Does the current LShift control include not letting the new maintainer(s) cut releases? Can we agree on a concrete date and objective standard for meeting the community-being-formed criterion? I'd suggest 5 new reviewers, 10 PRs merged or somesuch by EOY. That seems relevant, because there's an obvious chicken-or-the-egg problem there with not-quite-maintainers don't at least ha

[2016-08-08 20:40] #100 closed

[2016-08-08 20:43] lvh commented on #103
@rfkm If you could submit individual features as PRs, that'd be very helpful.

[2016-08-08 20:47] lvh commented on #104
What would the correct behavior here be? This doesn't feel wrong -- it just feels that line coverage is not a great measuring stick of coverage :)

[2016-08-08 20:48] lvh commented on #63
Closing, since this will be fixed in the next release.

[2016-08-08 20:48] #63 closed

[2016-08-08 20:51] lvh commented on #47
This has been open for a while, and it looks like the issue is resolved, so I'm closing this.

[2016-08-08 20:51] #47 closed

[2016-08-08 23:41] JacekLach commented on #104
To me the real issue here is that cloverage doesn't distinguish between code hit by the file being evaluated, and code hit by the tests.

If we assumed that all test code either lives in separate namespaces (which is common), you could work around using some kind of global flag that ignores instrumentation hits during initial eval, and then is disabled before tests are ran. This seems fragile thou

[2016-08-09 00:33] JacekLach commented on #102
Braindump: Here's what's happening.

In the original code, the compiler can emit a direct invocation because of the type hint on `sodium` (https://github.com/lvh/caesium/blob/master/src/caesium/binding.clj#L221).

With sodium transformed in what's basically a `(do ^Sodium sodium)`, the compiler doesn't know the result of the expression is a ^Sodium object. We'd have to type-hint the outside block,

[2016-08-09 00:41] lvh commented on #104
It might be useful to be able to differentiate between code running in different contexts, agreed. I'm not super sure that it's wrong for Cloverage to report this as-is though: form coverage correctly reports the miss, and line coverage correctly reports that line was looked at at least once. In particular, e.g. if you have a defn with a missing parameter declaration or something, it'd still fail,

[2016-08-09 00:46] lvh commented on #99
Hm, interesting. In my experience this has usually been the job of a tool that consumes output from the coverage tools -- Jenkins, or coveralls, or something. If we do do this, I'd like to keep it in the shape of something like that that's completely decoupled from cloverage itself.

[2016-08-09 00:47] lvh commented on #94
There are a number of other data outputs already available (some of which in PRs which we'll hope to have merged soon). Does `--raw` cover your use case?

[2016-08-09 22:58] rm-hull commented on #88
I suspect that `ns-names-for-dirs` (https://github.com/lshift/cloverage/blob/master/lein-cloverage/src/leiningen/cloverage.clj#L5-L6) and/or `find-nses` (https://github.com/lshift/cloverage/blob/master/cloverage/src/cloverage/coverage.clj#L126-L140) are _probably_ the root cause of your tests being run twice when you incorrectly had the duplicate namespace.

It is a bit of an edge case, but adding

[2016-08-09 23:44] rm-hull commented on #83
Can you post your any of your _project.clj_'s, or more specifically the bit where you reference cloverage

[2016-08-09 23:52] rm-hull commented on #86
This is a duplicate of #23, and possibly fixed by #72.

@lvh can you close this issue?

[2016-08-10 01:26] lvh commented on #86
Closed as duplicate as @rm-hull mentioned.

[2016-08-10 01:26] #86 closed

[2016-08-10 01:34] #55 closed

[2016-08-10 06:49] lvh commented on #88
Hm, interesting. I wonder if the correct longer-term solution for this is to use tools.namespace?

[2016-08-10 14:23] drbobbeaty commented on #83
@rm-hull Sadly, it was a while and we hadn't heard, so we removed it from the project. We may revisit it later, but not right now.

Nothing against the project... just time.

[2016-08-10 14:54] rfkm commented on #103
OK, I'll create PRs picking some changes of mine up.
I'm happy to see the revival of the project. Thank you, @lvh!

[2016-08-10 22:08] lvh commented on #103
Thank _you_! I'm very excited to see these PRs!

[2016-08-10 23:52] bostonaholic commented on #103
I start at CircleCI in two weeks. One of the things I might start looking into is how to get cloverage and circle to work together.

[2016-08-11 00:53] lvh commented on #103
Awesome! Great collaboration between the both projects seems like a clear mutual benefit :)

[2016-08-11 08:45] rm-hull commented on #76
Using the indexed pushback reader doesn't help here as the problem remains that metadata can't be added to literals. This is really a dupe of #12, and probably should be closed.

cc: @lvh

[2016-08-11 13:52] carrete commented on #103
Yeah, awesome! We're Circle CI users and I'd love to see 1) junit xml output added, and 2) a non-zero exit status if coverage isn't at or above some threshold.

It's great to see a renewed interest in this project. Thanks everyone!

[2016-08-11 13:57] bostonaholic commented on #103
Those are exactly two things I'd like to see, too. I'm not making any pormises, but after I get settled in I'll start taking a look at these two features.

[2016-08-11 16:00] palfrey commented on #103
@lvh: I don't currently have concrete criteria for that, no. OTOH, things look like they're doing very good so far! What is probably worth doing is having a conversation about this in say a month and reviewing how this is all doing, and then figuring out what to do about it then. This is all kinda being done on more of a gut feel about things than anything else TBH, and so I'd prefer to see how th

[2016-08-11 19:54] rm-hull commented on #103
I'm glad that this issue has revived interest in cloverage and has lead to this extended discussion. It is a tool which provides huge benefit to a lot of people, and it should not be left to bit-rot.

I can't speak for anyone else, but personally, the worst thing that saps enthusiasm for contributing to open-source is spending time investigating & raising issues, fixing bugs and submitting PRs onl

[2016-08-11 19:56] rm-hull commented on #103
Things I would like to see happen, in no particular order:
* zero-inbox policy on PRs and issues (I have no problem closing issues as 'wont fix' or rejecting PRs, but they should not be left to languish for months)
* Regular dependency updates
* Improve test coverage
* Support for Boot
* Refresh of the HTML reports L&F, using a templating engine like Hiccup
* Pluggable mechanism to support differe

[2016-08-11 20:07] JacekLach commented on #103
This is kinda offtopic, but relevant to mentioned idea of pulling in more dependencies. The way cloverage currently works is by injecting its own code (and dependencies) into the instrumented project. (Or alternatively pulling in the instrumented projects code into itself, whichever way is easier to reason about :P). Adding more dependencies to cloverage means more possible dependency clashes with

[2016-08-11 20:37] carrete commented on #103
Same.

Amen.

[2016-08-11 23:01] lvh commented on #103
@palfrey Noted :) I can only echo the sentiments of other people above, but we'll revisit this in a month. One reason I would strongly prefer to have an objective criterion is because:

- the LShift PR reason you mentioned arguably doesn't change,
- one could easily argue that interest has died down when all that's happened is that we've burned through the initial backlog of changes that haven't g

[2016-08-11 23:37] lvh commented on #76
Agreed; thanks @rm-hull :)

[2016-08-11 23:37] #76 closed

[2016-08-12 00:12] lvh opened #109 "Distinguish between cloverage dependencies and those of project being instrumented"
@rm-hull and I noted in [a recent PR][whynohtml] that some of the bugs in Cloverage would be preempted by using third-party dependencies instead of trying to solve the problem locally (in this particular case, it was a HTML escaping issue versus building a HTML document using string operations, but this is a more general point). @JacekLach pointed out in [a comment on a different thread][whysodepl

[2016-08-12 00:12] lvh commented on #109
This, by itself, will not provide any features yet at first, but it will enable us to start removing some of the homegrown HTML templating stuff (and also make it easier to use new dependencies for other features in the future.)

[2016-08-12 00:13] lvh commented on #103
@JacekLach That's an excellent point and I've tracked it in #109.

[2016-08-12 00:30] lvh opened #110 "Monitor dependencies going out of date automatically"
The obvious tool for this is [JarKeeper][jarkeeper], although for some reason even though it works fine [for caesium] it keeps redirecting me back to its front page [for cloverage].

[jarkeeper]: https://jarkeeper.com/
[caesium]: https://jarkeeper.com/lvh/caesium
[cloverage]: https://jarkeeper.com/lshift/cloverage

[2016-08-12 00:30] lvh commented on #110
Reported by @rm-hull here: https://github.com/lshift/cloverage/issues/103#issuecomment-239272939

[2016-08-12 00:33] lvh opened #111 "Use a real HTML templating engine"
Right now, HTML documents are created using string operations, which is a source of bugs. However, we currently conflict with dependencies of systems being instrumented, so this requires #109 to be resolved first.

[2016-08-12 00:34] lvh commented on #103
@rm-hull Excellent points, I have tried to make sure they're appropriately tracked, e.g. Boot support (#98), out-of-date dependencies (#110), HTML templating (#109 #111). Moving to new org is something I will follow up with as noted above.

[2016-08-12 04:48] jarnovayrynen commented on #103
Good points, people. Especially @rm-hull, you have a solid argumentation and a plan as a way forward. And thanks @lvh for your good efforts maintaining this, keep it up!

On the feature side I'd like to see improved working with macros. In our project we are defining some vars with a macro when starting the application. We basically have a macro to read some values from Excel (user roles and their

[2016-08-12 07:01] FossiFoo commented on #98
i have written a task, but it will need some polishing before i can submit a PR. Until then, here's the source in my project where i use it:  https://github.com/FossiFoo/sexpress/blob/master/server/src/cloverage/boot_cloverage.clj

[2016-08-12 07:06] FossiFoo opened #112 "Split main/parsing of cli arguments and coverage and reporting"
All these steps are currently interleaved in coverage.clj and make it hard to use cloverage as a "plugin", ie from the lein and/or boot task.

Might also be needed to provide more functionality for eg reporting without pulling in too many dependencies into the core run.

[2016-08-12 07:10] FossiFoo opened #113 "Rename test namespaces"
The test namespaces aren't named according to clojure conventions. This makes running them with tooling (ie cider) harder than it should be. They should be renamed.

[2016-08-12 08:26] rm-hull commented on #110
Agree that a jarkeeper badge is the simplest & most visible way to track out-of-date dependencies, but I think the reason why it is redirecting is due to the fact that jarkeeper is looking for a _project.clj_ (or _build.boot_) in the project root directory (see [here](https://github.com/hashobject/jarkeeper.com/blob/master/src/jarkeeper/statuses.clj#L35-L41)) in github.

cloverage core and lein-cl

[2016-08-12 11:39] rfkm commented on #113
👍
I actually did on my fork ;)

[2016-08-12 12:28] FossiFoo commented on #113
nice. will you make a PR?

[2016-08-12 15:03] bostonaholic commented on #110
https://www.versioneye.com/ is good and allows you to specify multiple `project.clj` files within a project.

[2016-08-13 09:46] FossiFoo commented on #112
Unfortunately this extends deeper into the code than i thought. While trying to write tests for reporting i discovered that reporting has the side effect of reading all source files again.

This make it even harder to write tests for reports and will also make this refactoring a bit of a pain. I would propose refactoring the code to read all the sources once, although i'm not sure what effect this

[2016-08-13 20:39] FossiFoo commented on #98
added preliminary PR #115 for more concrete discussion

[2016-08-13 23:12] lvh opened #116 "Add JUnit XML output option"
@ryfow started work on this a while ago: https://github.com/lshift/cloverage/pull/80

That PR got closed because it had an outstanding comment. The original author appears unresponsive (not a criticism; PR has been up for over a year). Other people have expressed interest in the feature (#103). This issue is intended to track progress on that feature without having to keep the PR open.

One soluti

[2016-08-13 23:15] lvh commented on #103
@jarnovayrynen Makes sense. There are a few issues up around macros, including #85 and #82; they might be related to your issue. Do you have a minimal reproducing test case?

[2016-08-14 02:44] ryfow commented on #116
Sorry for not getting back earlier. I'm swamped for the time being, so I probably won't be able to update the PR soon. Hopefully someone will be able to pick up where I left off.

[2016-08-14 15:04] FossiFoo commented on #103
i suggest tagging a release before actually refactoring a lot of the things i proposed. a proper version including codecov.io and lcov support would be great.

i guess boot support can go into a next version as well.

[2016-08-15 01:56] lvh commented on #103
I agree completely, @FossiFoo. Alas, I can't cut releases; see the last 2 comments from @palfrey :) Concretely; I'd be happy to cut a release, but need to be added to the clojars group for it.

[2016-08-15 02:03] lvh commented on #83
@ivajloip @MichaelBlume @codeitagile Do any of you have a remaining reproducer for this problem?

[2016-08-15 06:40] FossiFoo commented on #103
Well, that's why i propose to do so here, so maybe @palfrey can go ahead if nobody objects.

[2016-08-16 04:32] jarnovayrynen commented on #103
Sorry, been busy. As a matter of fact, I don't have a minimal test case
just yet. Basically it would be a file with a macro that defines vars. Then
parsing / instrumenting that file would fail. Let me see if I find time to
create one and I could create a branch.

On Sun, Aug 14, 2016 at 2:15 AM, lvh <notifications@github.com> wrote:

[2016-08-23 06:50] brabster opened #117 "Cloverage coverage goes to zero after apparently unrelated code change?"
Hi there,

I added an apparently innocuous macro to my project and it made cloverage reported coverage drop to zero.

Build #200 had the expected coverage stats: https://travis-ci.org/brabster/crucible/builds/154114743
Build #201 still reported 34 tests and 63 assertions passed but 0% coverage https://travis-ci.org/brabster/crucible/builds/154224428

The delta is four commits https://github.com/br

[2016-08-23 10:41] lvh commented on #117
Do you have any cycles for reducing this to a minimal test case? The macro does look innocuous; I'd suggest removing the with-meta/docstring part first.

[2016-08-23 14:52] atomic-hedgehog commented on #83
I was able to work around this by adding the current version of Cheshire as a dependency in my `.lein/profiles.clj`

[2016-08-24 13:03] lvh commented on #103
Since several people have now asked me for releases over a period of 2 weeks to get their changes in a usable release; I've cut https://clojars.org/lvh/cloverage (lein artifact: `[lvh/cloverage "1.0.7"]`) pending my ability to cut real releases.

[2016-08-24 13:44] lvh commented on #117
I was going to suggest that the macro looked broken, but it appears you've already caught that and fixed the issue in master beyond the commits you list in this issue.

[2016-08-24 14:52] lvh commented on #117
One of the reasons I'm asking is because there was more of a change than just adding the macro; e.g. the specs got an explicit name rather than a `s/keys` call. Reverting _some_ of the changes doesn't fix the issue, even when you remove all of the defresource calls in a single ns:

[code]

[2016-08-24 15:40] carrete commented on #103
Thanks @lvh and everyone who submitted pull-requests.

[2016-08-24 15:45] lvh commented on #103
I will also cut a `lvh/lein-cloverage` because `lein-cloverage` assumes `'cloverage` (aka `'cloverage/cloverage` is the One True Cloverage) -- right now `lein run -m cloverage.cloverage` works fine though :)

[2016-08-24 19:21] luposlip opened #120 "Crossovers in .cljc files not supported"
I have crossovers written for both Clojure and ClojureScript and stored in `.cljc` files. These don't seem to be recognized by cloverage (the file is called `company/common/utilities/core.cljc`):

[code]

[2016-08-24 19:53] rm-hull commented on #120
I think this will be solved by #92 and/or #93 - I can't remember which order they got merged, but we. Are just awaiting a release to fix this.

@lvh - think this can be closed as a dupe

[2016-08-24 20:02] rm-hull commented on #103
@lvh if you look at the deploy.sh script, this gets called from Travis when a commit is made... If it is on master it will do a deploy to clojars.

If you change the version to 1.0.7 in both sub projects and the relevant dependencies on master and push, it _might_ just deploy without further ado.. 🤔

Also, tis worth amending the readme in the subdirs too as they are a bit stale.

[2016-08-24 20:34] luposlip commented on #120
Seems probable. I'll wait for @lvh to close it.

[2016-08-24 21:04] lvh commented on #120
@luposlip Pending that, you can solve the issue by calling cloverage as: `CLOVERAGE_VERSION=1.0.7-SNAPSHOT lein cloverage` .

[2016-08-24 21:04] #120 closed

[2016-08-24 21:22] luposlip commented on #120
Tnx!

Den ons. 24. aug. 2016 23.04 skrev lvh <notifications@github.com>:

[2016-08-25 00:06] JacekLach commented on #103
The automatic build on master releases snapshot builds, but AFAIR can't release final versions because it can't sign them.
(though looking back at 1.0.6 it doesn't seem like it has been signed, and it looks like https://github.com/lshift/cloverage/blob/master/cloverage/project.clj#L14 disables signing releases since 7e2c9c49f1e846c2707eedc5545603ccc533b7e0, so maybe it will work)

[2016-08-25 00:08] danielcompton commented on #103
Signing releases is no longer needed for Clojars, so this shouldn't be an issue.

[2016-08-25 05:01] brabster commented on #117
Hey, thanks for looking into it already! Sorry for my tardiness, been a bit snowed under the last couple of days.

There are some tests in there that have nothing to do with resources and the new macro - they're just testing things like transformations between data structures and clojure.spec validation. I'll try and figure out if there's a specific change that isolates the problem.

[2016-08-25 05:46] brabster commented on #117
Figured it out - one of my namespaces referred itself (autocompletion tooling, probably)

https://github.com/brabster/crucible/commit/6847f0966587c1408a6519211800db161d3dda8d

I don't think it's cloverage's job to pick that up - linting tooling would probably have done it except that eastwood, kibit etc. don't support clojure 1.9 namepaced maps yet. I'll PR you a doc update

Thanks!

[2016-08-25 15:49] lvh commented on #117
Cool! I'm glad your issue got resolved :) I'll merge the PR for now; but I'd like to create a separate issue; I respectfully disagree, and think cloverage should _totally_ have complained (although that is not a high-priority item) :)

[2016-08-25 15:50] lvh opened #122 "0% coverage report if any namespace requires itself"
Not very high priority because linters will presumably catch this. See #117 for original report.

[2016-08-25 15:50] #117 closed

[2016-08-25 17:38] JacekLach commented on #122
Intuition is that the namespace sorting algorithm (that enforces they get
instrumented in the right order) gives up when it hits a cycle, and returns
an empty list. So no namespace gets instrumented, resulting in 0%

Sent from mobile, so I can't link to the code. I think it's in khan.clj

On Thursday, 25 August 2016, lvh <notifications@github.com> wrote:

[2016-08-25 18:26] lvh commented on #122
Yep, that makes a lot of sense. It seems like a simple exception in the nil case would cover it :)

[2016-09-01 21:55] #113 closed

[2016-09-02 16:15] lvh opened #126 "Have an editorconfig file + eclint"
If we had an editorconfig file, most editors would automatically know how to format files correctly. More importantly, through eclint, we can make this a part of blocking CI.

This came up in #125.

[2016-09-02 21:13] lvh commented on #103
@palfrey Friendly reminder; we really should cut a release.

[2016-09-08 18:35] carrete commented on #103
Fork it and move on? As a point of reference, from someone who has used this tool in two day-jobs already as far back as two years ago, I consider this repository dead. We made the switch to @rfkm's fork back in December.

[2016-09-09 13:09] FossiFoo commented on #103
Yes, it seems to me like a friendly fork to a cloverage organisition can not make this less maintainable.

I'm gone to Edgeland for the next 3 weeks, but i fully plan to go ahead with that -main rewrite afterwards.

[2016-09-09 18:26] rm-hull commented on #64
@lvh -- this issue can be closed

[Midje support was implemented in #125 from @rfkm's branch]

[2016-09-09 18:27] lvh commented on #64
Good catch :)

[2016-09-09 18:27] #64 closed

[2016-09-09 18:42] rm-hull commented on #103
@IanRogers-LShift @palfrey : its been nearly a month since you guys last commented on this thread; what's your take on things ? Are we ready to have that conversation and review how things are going ?

[2016-09-23 13:54] carrete commented on #103
Is there some other place I can look to pick up the improvements that have been made recently?

[2016-09-23 13:57] rm-hull commented on #103
Beginning to wonder if we should fork & rename; appealling to Lshift to cut a release has got precisely nowhere + they won't give the clojars creds to @lvh to be able to do that

[2016-09-23 14:27] lvh commented on #103
Hi!

SNAPSHOTs have the current improvements. I'm currently taking time off (my mom is in town and I haven't seen her in a year), but I have a plan to resolve this when I get back, with real releases.

lvh

Sent from my iPhone

[2016-09-27 13:48] palfrey commented on #103
Hi. So, as you might have all gathered, this hasn't exactly been our highest priority. The conclusion has therefore been finally reached to basically open this up properly and basically just hand it to the community. We'd like to be "backup admins" in the event of it all going quiet again, but in general will be leaving things alone for the foreseeable.

What does that mean concretely:
- @lvh - gi

[2016-09-28 03:37] lvh commented on #103
@palfrey Yep! `lvh` on cloverage.

I'm very happy to hear about this change, because to be honest it was looking like a hard fork was the only way to solve this problem :)

[2016-09-28 10:40] palfrey commented on #103
@lvh - I've added you to the cloverage and lein-cloverage groups on Clojars. I think that's everything we need to do at this point?

[2016-09-28 10:42] palfrey opened #128 "Code of Conduct"
As noted in https://github.com/cloverage/cloverage/issues/103#issuecomment-236608369 now this project has gotten opened up to the wider community, it could do with a CoC. It should hopefully just encode the existing community spirit, but good to have some actual words about it as well. I'll go and find some good existing sources of said...

[2016-09-28 10:47] rm-hull commented on #128
The ubuntu one always struck me as entirely reasonable and easy-to-comprehend: http://www.ubuntu.com/about/about-ubuntu/conduct

[2016-09-28 14:01] lvh commented on #103
@palfrey Thanks! Can't think of anything. While obviously keeping the lshift account, I'm assuming it's OK if I do signed releases the usual way via my own Clojars account, that's fine?

[2016-09-28 14:06] lvh opened #129 "Get rid of jaceklach/cloverage fork metadata"
This continues to show master as being ahead/behind the previous-previous-but-not-original repo. Since this is the one true blessed repo now, we should get rid of that connection, since it's just confusing.

I think this can be done after the fact by GitHub support or by deleting the original repo. I'm happy to do the support route.

@JacekLach Any thoughts/objections?

[2016-09-28 14:13] lvh commented on #128
I've had good experiences with http://contributor-covenant.org/ on a few projects I've worked on. I'm unfamiliar with the Ubuntu one. My first thought is: do they encourage other projects to incorporate it? (That is the Contributor Covenant's reason for existence.)

[2016-09-28 14:15] palfrey commented on #103
@lvh AFAIK, that should just work...

[2016-09-28 14:16] lvh commented on #103
@palfrey Right; I'm expecting it to -- it's just that the current docs suggest that's not how you do it, and I'm trying to do the transition in a way that's mutually agreeable. I'll just cut the releases myself since that way I get to sign them.

[2016-09-28 14:20] lvh commented on #128
Apparently it does allow modification:

At the risk of turning this into a bikeshed, I have a preference for the one designed to be co-opted by projects like ours vs one we'd need to adapt ourselves.

[2016-10-02 05:19] rationalism opened #130 "Cloverage can't find .cljc files"
Cloverage only looks for files with a .clj (Clojure) extension, not a .cljc (shared between both Clojure and ClojureScript) extension. I worked around this by creating symbolic links for each .cljc file to a corresponding .clj file, but that's a bit awkward.

[2016-10-02 08:04] rm-hull commented on #130
Support for .cljc files was fixed in #97, and will be available in the next release (available hopefully quite soon).

In the meantime, you can use the latest snapshot version by calling cloverage as: `CLOVERAGE_VERSION=1.0.7-SNAPSHOT lein cloverage`

[2016-10-05 16:05] lvh commented on #129
When I tried to move the releng notes, GitHub helpfully thought I wanted the PR to target the JacekLach fork: https://github.com/JacekLach/cloverage/pull/27

I'll contact GitHub support.

[2016-10-05 16:19] lvh commented on #129
I have asked GitHub to resolve this.

[2016-10-05 16:27] JacekLach commented on #129
No objections from me regarding removing the metadata, BTW.

[2016-10-05 20:52] lvh opened #134 "Fix CircleCI build"
https://github.com/cloverage/cloverage/pull/133 removed the CircleCI badge because it was pretty broken (not doing new builds, only having a few really old ones, still pointing to lshift/cloverage). I'm happy to add the badge back if someone fixes the build.

cc @rm-hull @drazisil

[2016-10-05 20:52] lvh commented on #129
This has now been resolved.

[2016-10-05 20:52] #129 closed

[2016-10-05 21:31] rm-hull commented on #103
Time for this thread to be closed, I think.

Heres to the next chapter. Onwards and upwards

:)

[2016-10-05 21:31] #103 closed

[2016-10-05 21:33] rm-hull commented on #130
@rationalism - 1.0.7 has now been released, if you would care to try it out.
@lvh - think this ticket can be closed as a dupe

[2016-10-05 21:36] #130 closed

[2016-10-05 21:37] lvh commented on #130
agreed

[2016-10-06 00:05] drazisil commented on #134
@lvh Only an admin can add a project to CircleCi, the expectation was that would be part of the PR merge, sorry for not being clear on that.

[2016-10-06 16:31] lvh opened #138 "Add real e-mail address to the Code of Conduct"

[2016-10-06 16:31] #128 closed

[2016-10-06 16:37] lvh commented on #134
OK; do you know why there are old builds there? It seems like someone must have enabled it before? I had admin powers now.

[2016-10-06 16:49] drazisil commented on #134
It looks like the last one was done by @JacekLach. However, if they told the project to stop building, it would, until an admin gives CircleCi a new key/web hook.

[2016-10-06 17:28] lvh commented on #134
OK, I told CircleCI to build, and it looks like it's doing something now.

[2016-10-06 17:30] drazisil commented on #134
https://circleci.com/gh/cloverage/cloverage/5#tests/containers/0 Looks good to me, except for your missing `breakme` command :)

[2016-10-06 21:40] JacekLach commented on #134
Not convinced building on both travis and circle is providing any value?

I think we've tried both circle and travis before ending up on travis for reasons I can't recall anymore.

[2016-10-07 14:31] lvh opened #139 "Enable signed releases"
Currently, releases are unsigned. As a side-effect, no tags are produced when you run lein release. It'd be nice if we had (signed) VCS tags for which commit constituted a release.

Releases are unsigned because of the former lshift deployment process. This is also necessary to make snapshots through Travis work. It would be nice if we could keep SNAPSHOT releases, while having signed "real" relea

[2016-10-07 22:05] lvh opened #142 "Add cljfmt linting to CI"

[2016-10-07 22:11] lvh opened #143 "Add kibit/eastwood to CI"

[2016-10-07 22:22] #126 closed

[2016-10-08 09:07] rm-hull opened #144 "Move changelog to separate CHANGELOG.md file"

[2016-10-08 09:08] rm-hull opened #145 "Add CONTRIBUTING.md guidelines"
a la https://github.com/jaunt-lang/jaunt/blob/develop/CONTRIBUTING.md

[2016-10-08 09:10] rm-hull opened #146 "Add cloverage.github.io repo + placeholder page"

[2016-10-08 09:12] rm-hull opened #147 "Add lein-cloverage project repo"
+ move (with history) the _lein-cloverage_ sub-directory into the new repo's root
+ move the _cloverage_ sub-directory into the original repo's root

[2016-10-08 09:12] rm-hull opened #148 "Add boot-cloverage repo"
+ move preliminary boot code into the new repo

[2016-10-08 13:41] #142 closed

[2016-10-16 02:32] #116 closed

[2016-10-16 02:33] #145 closed

[2016-10-16 02:38] #23 closed

[2016-10-16 03:10] lvh commented on #138
Since #145, the e-mail address should also be added there.

[2016-10-16 03:39] lvh commented on #134
I've fixed the build.

@JacekLach You're right hat I don't think it provides any extra value right now; but it also doesn't really hurt, and IIUC a few contributors are also now at CircleCI, so they're a friendly company :)

[2016-10-16 03:39] #134 closed

[2016-10-16 03:43] lvh commented on #134
Another advantage is that this gives us extra free builders; so if we wanted a place to run hard-to-reproduce or hard-to-minify test cases on a particular repo or something :)

[2016-10-16 17:27] #144 closed

[2016-10-16 18:03] rm-hull commented on #99
I think maybe introducing some high/low watermark coverage thresholds for guidance only (and maybe _optionally_ failing the build, say, if issued with `lein cloverage check-threshold`) would be a good thing.

This could be done by adding ANSI colour codes to the Cloverage summary table output, similar to how Istanbul (for javascript) reports a summary page with red/amber/green for the various diff

[2016-10-16 18:13] kevinludwig commented on #99
Maybe it's an additional plugin besides istanbul, but in the js ecosystem you can definitely specify a fail threshold yourself. I.e. fail if less than 90% coverage, for example.

[2016-10-16 21:24] rm-hull commented on #99
So, I've got a feature branch (& PR brewing) with some changes to support this functionality:

Before:
<img width="505" alt="screen shot 2016-10-16 at 22 17 05" src="https://cloud.githubusercontent.com/assets/1915543/19420961/824c7a92-93ee-11e6-8bce-be1a22029ad2.png">

After:
<img width="471" alt="screen shot 2016-10-16 at 22 16 24" src="https://cloud.githubusercontent.com/assets/1915543/19420967/

[2016-10-16 22:16] rm-hull opened #155 "Pass :cloverage opts in project.clj to -main"
It would be handy to be able to set opts in my _project.clj_ such that when I run `lein cloverage`, they are automatically passed through to the [-main](https://github.com/cloverage/cloverage/blob/master/cloverage/src/cloverage/coverage.clj#L192) method.

For example, something like:

[code]

[2016-10-16 23:12] arrdem commented on #99
Awesome!

[2016-10-16 23:15] rm-hull opened #157 "Refactor (parse-args) function - uses legacy code from clojure.tools.cli"
The [parse-args](https://github.com/cloverage/cloverage/blob/master/cloverage/src/cloverage/coverage.clj#L87) is implemented on top of [clojure.cli.tools](https://github.com/clojure/tools.cli/blob/master/src/main/clojure/clojure/tools/cli.clj#L180) which has the following disclaimer:

Refactor use of `cli/cli` to `cli/parse-opts`. From first glance, it appears that the specs param has changed slig

[2016-10-26 19:22] etiago commented on #87
I, too, have experienced this.

[2016-11-02 03:03] #99 closed

[2016-11-02 08:26] ricardojmendez opened #164 "Exception when attempting to run Cloverage on a compojure service"
Cloverage 1.0.9 dies when attempting to run on a Compojure service which uses authentication.

Attaching a minimal case. Archive includes a git repository with two commits: the initial template code where Cloverage works, followed by a commit adding authentication which causes it to die. Cloverage dies even if the APIs added are not tested.

This seems related to #53.

Trace:

[code]

[swag.zip](h

[2016-11-02 13:46] lvh commented on #164
Thanks! This isn't the case in 1.0.8, right?

[2016-11-02 13:54] ricardojmendez commented on #164
Just tried it with 1.0.8, I get the same exception.

[2016-11-05 04:50] danielcompton commented on #146
Rich is fairly protective of the Clojure logo, so you won't be allowed to modify it like that, at least not without getting permission.

[2016-11-05 10:02] rm-hull commented on #146
For sure.

_Just wanted to get some dialogue started, and thought that might help provoke it._

[2016-11-07 19:54] bostonaholic commented on #146
Instead of creating a separate repo, GitHub has improved the process a bit.

https://github.com/blog/2228-simpler-github-pages-publishing

[2016-11-25 17:22] urzds opened #167 "lein cloverage --junit fails if target/coverage/ directory is missing: target/coverage/junit.xml (No such file or directory)"
[code]

The problem does not occur, if I create `target/coverage/` before running `lein coverage --junit`:
[code]

[2016-11-25 17:30] urzds opened #168 "Support --junit with Midje"
It would be nice if cloverage could support --junit with Midje.

it is possible to make Midje output some (rudimentary) JUnit XML. See e.g. my Arcanist extension: https://github.com/uhd-urz/arcanist-extensions-midje/blob/master/MidjeUnitTestEngine.php#L31

[2016-11-25 17:41] rm-hull commented on #167
Hello @urzds, which version is this with?

I think the fix is quite straightforward, there is a `(.mkdirs (io/file output))` which needs to be moved before the runner-fn is invoked.

[2016-11-25 20:47] #122 closed

[2016-11-25 23:45] #167 closed

[2016-12-12 05:48] mcneiltx opened #171 "Coverage of cond"
This might just be a noob issue so sorry for reporting here if this is not the right place for it (however I've not managed to google a solution).

I have the following function defined:
------------------------------------------
(defn cond-comparing-to-zero [a]
  (cond
    (> a 0) "greater"
    (= a 0) "zero"
    :default "lesser"))
------------------------------------------

I'm testing as follo

[2016-12-12 09:51] rm-hull commented on #171
`cond` is a [macro](https://github.com/clojure/clojure/blob/clojure-1.8.0/src/clj/clojure/core.clj#L580), which expands out into `if`s (also a macro), so might be worth looking at the `macroexpand`ed form to see why you're not getting 100% coverage.

[As a side note, I always assumed the default case condition _should_ be `:else` but looking at the code, I can see that `:default` or any truthy val

[2016-12-12 11:01] mcneiltx commented on #171
Thanks rm-hull, your side note regarding the convention of using `:else` has lead to the solution. Even though any truthy value can be used it seems the current coverage logic is tied to the convention of using `:else`. For vanity reasons I have now changed to the convention of using `:else` instead of `:default` ;-)

[2017-02-21 21:19] ds2643 opened #172 "Limited Cloverage tests by namespace"
Is there anyway for users to limit the namespace targeted by Cloverage?

For example, a project with namespaces `foo`, `bar` and `baz` might be coveraged tested for only `foo`
[code]

Thank you!

[2017-02-21 21:43] ds2643 commented on #172
Looks like the answer here is an `-s` or `--test-ns-path`. Sorry for jumping the gun with my question.

[2017-02-21 22:10] #172 closed

[2017-02-21 22:30] ds2643 opened #173 "Use of Datomic triggers past issue"
I encountered the following error while attempting to run `cloverage` on a project that heavily uses [`datomic`](http://docs.datomic.com/clojure/):

[code]

To make helping as painless as possible, I've isolated the issue to the following snippet:
[code]

It seems like this may be some issue related to the use of the reader by Cloverage. Additionally, it may be worth pointing out that this seems t

[2017-02-21 23:09] ds2643 commented on #173
Worth noting is that this error is triggered with the use of Cloverage `1.0.9`. A different set of errors, which I'll prepare posts on soon, occur with the use of Cloverage `1.0.0`.

[2017-02-22 13:47] rbuchmann commented on #164
Hi @ricardojmendez , I had the same problem and was able to fix it.

[code]

expands wrap-restricted into a function, not code. It should be `wrap-restricted. The vital hint came from #53.

[2017-04-03 20:14] kenrestivo-stem opened #174 "Exception in thread "main" clojure.lang.ExceptionInfo: No reader function for tag id {:type :reader-exception, :line 100, :column 32},"
[code]

:(

Seems related to
https://github.com/cloverage/cloverage/issues/173 and https://github.com/LightTable/LightTable/issues/244 .

[2017-04-13 18:47] micahasmith opened #175 "Random Error"
When i run lein cloverage on my project, i get the following:

[code]
I cannot tell what its trying to load...?

[2017-04-13 18:59] rm-hull commented on #175
Can you share the project where you're seeing this or are able to reproduce it on a simple test project?

[2017-04-17 20:35] didibus opened #176 "Support Cobertura output?"
At my company, we need have a lot of tools who internally expect Cobertura outputs to perform any kind of coverage analyses. Does Cloverage support an output that mimics Cobertura's?

[2017-04-18 08:01] rm-hull commented on #176
Not directly, but you could output lcov and then use https://eriwen.github.io/lcov-to-cobertura-xml/

[2017-04-18 17:40] msassak commented on #54
This would be really useful!

[2017-06-22 22:03] PayalGodse commented on #164
@rbuchmann
I am facing same authentication problem with cloverage and compojure? I tried adding ^method to test.core.  But getting a runtime exception 'Unable to resolve symbol: restructure-param in this context'. Am I missing something?

[2017-06-23 06:32] rbuchmann commented on #164
@PayalGodse that sounds like you're just missing
[code]
somewhere.

[2017-06-29 18:57] samestep commented on #102
Here's an MCVE.

### `project.clj`

[code]

### `src/example/classes.clj`

[code]

### `src/example/core.clj`

[code]

### `test/example/core_test.clj`

[code]

Comparison:

[code]
[code]

[2017-06-29 19:37] samestep opened #179 "Issue links in changelog"
The guidelines in [CHANGELOG.md] and [CONTRIBUTING.md] say

but it looks like the issue numbers in the changelog do not link to their corresponding issues. Should this sentence be removed from those documents? And should explicit issue links be included in the changelog?

[changelog.md]: https://github.com/cloverage/cloverage/blob/41d16b0f8419c0c6dda05b85e6198e77a8f813c0/CHANGELOG.md#cloverage-cha

[2017-06-29 21:22] samestep opened #180 "Reflection"
Currently, running `lein test` results in some reflection warnings:

[code]

It looks like the reflection in [data.xml] and [dynapath] has been cleaned up but hasn't been released yet.

[data.xml]: https://dev.clojure.org/jira/browse/DXML-42
[dynapath]: https://github.com/tobias/dynapath/pull/2

[2017-06-30 19:46] rm-hull commented on #179
You're right - it doesn't provide a hyperlink (which I think is/was the original intention), but by at least putting the issue number it provides a manual reference back to the issue. Maybe the wording should be changed to:

What do you think?

[2017-06-30 22:15] samestep commented on #179
It [looks like][so] that's just a feature of GitHub Flavored Markdown, which is not used in Markdown files in the repository itself.

You could do that, or you could change it to say to add a Markdown link after running this:

[code]

[so]: https://stackoverflow.com/q/16539687/5044950

[2017-07-01 23:51] #180 closed

[2017-07-07 06:49] jiangts opened #182 "clojurescript support?"

[2017-07-07 23:55] MichaelBlume opened #183 "Test namespace regex options don't seem to work at all"
If I try to use a regex to select test namespaces, Cloverage just runs all my tests. As far as I can tell, the issue is that lein-cloverage passes in a list of test namespaces and cloverage uses them without checking the regex.

[2017-07-07 23:57] MichaelBlume commented on #183
I wound up adding these aliases to my project because as far as I could tell it was the only way to get cloverage to run the subset of tests I wanted:

[code]

[2017-07-07 23:58] MichaelBlume commented on #183
and yes the ns-exclude-regex flag was necessary -- otherwise it just excluded everything

[2017-07-08 00:01] MichaelBlume opened #184 "Allow for sorting namespaces in HTML view"
It'd be nice to be able to sort by, say, number of forms not covered.

[2017-07-08 00:02] MichaelBlume opened #185 "Cloverage prints errors on reify forms"
[code]

[2017-07-08 00:03] MichaelBlume commented on #185
I haven't actually worked out yet what effect if any this is having on coverage. Coverage jobs are running and producing reports, anyway.

[2017-07-11 00:14] MichaelBlume opened #186 "Visibility into coverage on macro expansion"
This is a pretty ambitious wishlist feature, but it's something I'd use a lot.

Cloverage's "forms covered" is based on the final macroexpansion of your code. But coverage reports in your browser show your code as written. It'd be *really cool* if you could click on a macro form in your code and see the form replaced with its macroexpansion (nicely pretty-printed) with coverage annotations.

[2017-07-11 18:13] MichaelBlume commented on #185
Ok, so it looks like the method bodies within the reify form are just completely failing to register to cloverage, they're not red or orange or green, they're white, cloverage doesn't think there's any code there.

[2017-07-12 21:31] samestep opened #187 "Current instrumentation strategy yields unacceptable performance"
Consider this [`isqrt`][isqrt] function and contrived `mean-isqrts` function that uses it:
[code]
The two functions are tested thusly:
[code]
This is very similar to a subset of an actual namespace for which I am trying to use Cloverage, and it illustrates the problem I'm having.

Currently, Cloverage's instrumentation strategy is to first instrument all functions that need to be instrumented, the

[2017-07-12 22:12] rm-hull commented on #187
I've never heard of any other coverage tooling do this kind of thing.

Generally (for me at least) running coverage is an agglomerative action where I want a summary of the entire coverage across the whole codebase after running the test suite - not just some specific functions under test.

Maybe it would be good to look at the instrumentation code first to see if there are any obvious bottlenecks

[2017-07-13 02:07] samestep commented on #187
I agree, I use it the same way and I have no intention of changing the way Cloverage is run or the output it produces. I hope that I haven't been communicating poorly about what my proposed solution is and why I think it is viable; let me try to clarify.

My thinking is that for each performance-sensitive function, there should already be tests that provide the necessary coverage of that function,

[2017-07-17 19:04] samestep commented on #187
@rm-hull Update: earlier today I was working on implementing a prototype, and I realized that the instrumentation works differently than I expected. I had thought that it would be relatively straightforward to do the sort of strategic instrumentation/unstrumentation that I described in my earlier post, but it looks like that's not the case.

I still think it would be possible and preferable to imp

[2017-07-17 21:55] PayalGodse commented on #164
@rbuchmann thanks, got this.. but still I am not able to figure out authentication issue as  it throws Cookie rejected errors.

[2017-07-25 14:34] #187 closed

[2017-08-12 12:41] rbuchmann commented on #164
@PayalGodse sounds more like a usage error than a bug in compojure-api or cloverage, I suggest you ask on IRC or Clojurians with some relevant code.

[2017-08-18 02:55] tjscollins opened #189 "Cloverage failing to compile custom try-let macro"
I'm using the try-let macro from https://github.com/rufoa/try-let to handle errors in let bindings.
[code]

Cloverage's instrumenting doesn't recognize the try-let macro (even if I define it in the same file instead of using the library), and so ignores it, but then collapses when it gets to the catch statements:
[code]
resulting a failed compilation:
[code]

I don't understand the instrumentation

[2017-08-18 17:05] lvh commented on #189
I think the issue here is a toplevel let in the expanded form.

[2017-08-18 17:05] lvh commented on #189
Related, but with do: https://github.com/cloverage/cloverage/issues/85

[2017-08-25 14:21] Sh4pe opened #190 "`lein cloverage` fails when :target-path is set to somewhere else"
When running `lein cloverage` on a brand new project (i.e. one where the `target` subdirectory does not yet exist), it fails with an exception. You can use these steps to reproduce the problem (use the attached [patch.txt](https://github.com/cloverage/cloverage/files/1252070/patch.txt)):

[code]

The workaround would be to `mkdir target` before running `lein cloverage`. It would be nice that this

[2017-08-25 14:38] lvh commented on #190
On https://github.com/cloverage/cloverage/blob/84026bf3b51747aba53ec6e198d0b89f7fee891c/cloverage/src/cloverage/coverage.clj#L288 the path to the output file is created, so that's strange.

However, the default output is hardcoded as `target/...`. Can you try setting `-o /tmp/whatever`?

[2017-08-25 14:51] Sh4pe commented on #190
That works:
[code]

So if `-o` is not supplied, would it be a good idea to use whatever is set to `:target-path` in `project.clj` as default?

[2017-08-25 21:45] lvh commented on #190
Yep! I'd be happy to review a patch and cut a release.

[2017-08-25 21:50] ricardojmendez commented on #164
Closing, @rbuchmann's [workaround](https://github.com/cloverage/cloverage/issues/164#issuecomment-281673566) solves the problem.

[2017-08-25 21:50] #164 closed

[2017-08-26 00:01] Sh4pe commented on #190
Alright. I see when I can make the time and I'll let you know then.

[2017-09-11 15:36] lvh commented on #173
Why did this get closed?

[2017-09-13 23:29] mauricioszabo opened #194 "Allow some configuration to decide what to cover"
I'm using cloverage in a project together with prismatic-schemas. I need to ignore some specific functions in coverage support, otherwise my `% Forms` degrades a lot with lots of false positives. The reason lies in the way schemas work:

When I'm developing my apps, I need to be sure that I'm parsing JSON messages correctly - sanitizing functions, checking if a map is missing a required key, and s

[2017-10-30 21:44] kenrestivo-stem opened #197 "Cloverage fails when using Datomic reader literals"
[code]

The offending function that causes this error (found through bifurcation; the error gives no indication where it might be coming from or caused by), appears to be
[code]

Can't live without this function; need to run migrations on the DB. Any idea how to make cloverage cope with it?

[2017-10-31 05:20] thescalaguy opened #198 "Using regex to test a specific namespace?"
I'd like to test a specific namespace in my test suite.

When I run cloverage, I can see the my namespace being loaded in the list of "Loading namespaces". However, instead of testing just that namespace, "Test namespaces" contains all the namespaces and then it fails with an exception.

I'd like to run all the "mocked-test"s in my suite. How do I do that?

Usage:
[code]

Output:
[code]

[2017-10-31 08:55] #198 closed

[2017-10-31 08:57] thescalaguy commented on #198
This was an issue with one of our namespaces. Also, if you'd like to test a specific namespace,

add the following to your dependencies
[code]
then
[code]

[2017-12-02 23:38] tiagofabre opened #199 "Insecure HTTP repository"
I Installed cloverage adding adding it to my **_~/.lein/profiles.clj_** and running `lein deps`
(follow my _**~/.lein/profiles.clj**_)
[code]
After that I am trying to run `lein cloverage` but the output is:

[code]

What the FAQ says about that is:

[code]
I am new in clojure so I have no idea how to solve that even with the FAQ answer (it is not clear for me, my project.clj has nothing similar).

[2017-12-03 23:42] lvh commented on #199
Hey: I'm unable to reproduce this. There are no insecure references within cloverage; cloverage always relies on lein to acquire dependencies.

Can you narrow it down to just cloverage to make sure this is actually what's causing the problem?

[2017-12-03 23:42] lvh commented on #199
(To do that: remove everything besides cloverage, see if problem persists.)

[2017-12-05 13:01] tiagofabre commented on #199
The problem were in my `project.clj`. It had this key `:repositories {"stuartsierra-releases" "http://stuartsierra.com/maven2"}`and I only changed to `https` and solved the problem.

Thank you!

[2017-12-05 13:01] #199 closed

[2017-12-28 16:20] #35 closed

[2018-01-08 07:03] deepakjangid123 opened #201 "Getting error in anonymous function"
Hi,
I have written a code,
My core.clj is-
` (ns flamboo.core`
`  (:require [flambo.conf :as conf]`
 `           [flambo.tuple :as ft]`
`            [flambo.api :as f]`
 `           [æsahættr :as ch])`
`  (:gen-class))`

`(defn generate-hash`
`  "Returns hashed rdd output"`
 ` [rdd field]`
`  (-> (f/map rdd`
 `       (fn [e]`
`          (e field)))`
 `     (f/distinct)`
`      (f/map-to-pair`
`

[2018-01-19 15:56] #183 closed

[2018-01-26 21:01] #143 closed

[2018-03-21 18:13] cgriego opened #208 "Using with core.async 0.3+ causes java.lang.ClassCastException"
While loading namespaces when using core.async 0.3+, the following error occurs:

[code]

core async 0.2 works.

[2018-04-19 19:50] ProjectFrank commented on #91
Seems related to https://github.com/cloverage/cloverage/issues/183 which has been addressed

[2018-04-19 19:53] ProjectFrank opened #209 "All nses are excluded when there is no ns-exclude-regex"
When `lein cloverage` is called without any `ns-exclude-regex`, all namespaces get excluded except for the additional instrumented namespaces. (`1.0.11-SNAPSHOT`)

[2018-04-19 19:55] ProjectFrank opened #210 "Multiple source-paths not working"
When there are multiple items in the `:source-paths` vector, the last path seems to win and nses from the other paths do not get instrumented. (tested on `1.0.11-SNAPSHOT`)

[2018-04-19 20:06] lvh commented on #209
Thanks! I'm assuming you're sitll passing the option, just not with a value and this is happening because nothing matches the empty string?

I'm not super sure that's a bug. What behavior would you like to see?

[2018-04-19 20:08] ProjectFrank commented on #209
This happens when the option is not passed in at all. The workaround I'm currently using is to pass in a regex that won't match anything.

[2018-04-19 20:09] lvh commented on #209
Uh, so what you're saying is the current snapshot just... doesn't include any namespaces? Yeah, that's not great :D

[2018-04-19 20:11] ProjectFrank commented on #209
It looks like this is the culprit: https://github.com/cloverage/cloverage/blob/master/cloverage/src/cloverage/coverage.clj#L251

`find-nses` returns all the nses when it is passed an empty collection of `exclude-regex` regexes, so all nses are getting removed here

[2018-04-19 20:12] lvh commented on #209
FWIW: I don't have the resources to fix bugs but I'd be happy to review fixes and cut releases :)

[2018-04-19 21:31] ProjectFrank commented on #209
Actually, this seems to be fixed in https://github.com/cloverage/cloverage/pull/207. Has that change been incorporated into the latest snapshot release?

[2018-04-19 21:40] lvh commented on #209
My understanding is that snapshot releases are cut by Travis whenever a master build finishes, so, ought to be.

[2018-04-19 21:40] lvh commented on #209
Oh sorry: #207 was merged right now -- so try again with the _most recent_ SNAPSHOT :)

[2018-04-19 22:26] ProjectFrank commented on #210
Sorry for the noise - apparently I was on `1.0.10`. This is not an issue in the `SNAPSHOT` release.

[2018-04-19 22:26] #210 closed

[2018-04-20 18:51] ProjectFrank commented on #209
yep that fixes it.

[2018-04-20 18:51] #209 closed

[2018-05-07 13:44] eurythmia commented on #155
using :profiles this appears to be fixed now in version 1.0.11-SNAPSHOT. Can we mark this as resolved?

[2018-05-16 13:17] LukasRychtecky opened #211 "It's not working on Java 10"
Bultitude is using ouf of date dynapath (there is a waiting PR https://github.com/Raynes/bultitude/pull/31). Until it will be merged, you can add `[org.tcrawley/dynapath "1.0.0"]` into project's `:dependencies` to fix ip.

[2018-05-18 15:49] #185 closed

[2018-05-24 23:28] lvh commented on #211
Thanks for the report! FWIW: I'm happy to review/merge PRs but don't have time to actively maintain this.

[2018-05-24 23:41] rm-hull commented on #211
Anthony Grimes (@Raynes) passed away in 2016. I doubt anyone else has commit rights on that repo, so it is unlikely that the PR is going to get merged as-is.

https://cemerick.com/2016/12/07/rip-anthony-grimes/

[2018-05-25 06:01] LukasRychtecky commented on #211
I'm so sorry, I didn't know it.

Anyway, do you think who has the right? Otherwise we will fork it, probably.

[2018-06-19 04:34] positron opened #213 "Please release 1.0.11"
The documentation on the README with all the fancy new options that cloverage supports does not match the released version (1.0.10) that the README tells you to use.

[2018-06-19 04:42] positron commented on #54
Here is a workaround to skip specific namespaces: https://stackoverflow.com/a/50920753/683415

[2018-06-25 20:43] lvh commented on #213
I'll see if I can figure out how, but as a workaround for right now: the SNAPSHOT releases should be up to date with master.

[2018-06-25 21:02] lvh commented on #213
FWIW: here's why cutting a release is hard. Both cloverage and the plugin are configured to use Clojars via a username and password with no signing. This is why master builds are sent to Clojars as snapshots. I don't have that password. Travis has it but it seems skeevy to try to exfiltrate it. If I edit out that line, the deployed image isn't what was in master at the time.

One solution might be

[2018-06-27 22:02] lvh opened #218 "Clojure 1.9 is out; start testing against stable + 1.10 alphas."
See project.clj deps.

Notes: 1.10 now requires JDK8 and we still support JDK7. This means making a decision: drop JDK7 tests, or a more complicated Travis matrix.

cc @rm-hull if you have any opinions :)

[2018-06-28 22:38] lvh commented on #213
https://clojars.org/cloverage/versions/1.0.11 :tada:

[2018-06-28 22:38] #213 closed

[2018-06-29 01:01] andrewbruno opened #219 "Cloverage 1.0.10 worked, but 1.0.11 causes failures"
Leiningen 2.7.1 on Java 1.8.0_171 Java HotSpot(TM) 64-Bit Server VM

$ CLOVERAGE_VERSION=1.0.11 lein cloverage

Exception in thread "main" java.lang.RuntimeException: Unable to resolve symbol: update in this context, compiling:(cloverage/args.clj:69:20)
	at clojure.lang.Compiler.analyze(Compiler.java:6464)
	at clojure.lang.Compiler.analyze(Compiler.java:6406)
	at clojure.lang.Compiler$InvokeExpr.p

[2018-06-29 01:30] lvh commented on #219
Any chance you could try to build a reproducer? That’s a pretty strange error. (Not currently in front of laptop.)

[2018-07-13 15:32] marco-m commented on #171
@rm-hull since I cannot ask to the ghost user :-), it seems that this issue can be closed.

[2018-07-17 14:00] lvh commented on #219
Ping?

[2018-07-17 14:00] lvh commented on #139
I fixed this as part of #213.

[2018-07-17 14:00] #139 closed

[2018-07-17 14:01] lvh commented on #155
Yup! That's released now.

[2018-07-17 14:01] #155 closed

[2018-07-17 14:18] eurythmia commented on #155
thanks :-)

[2018-07-19 19:08] TimoFreiberg commented on #211
So it looks like a possible solution would be to
1. fork bultitude
2. update the dynapath dependency of the fork
3. create a PR here that moves the bultitude dependency to the fork
correct?

[2018-07-19 19:46] TimoFreiberg commented on #208
same with the current master of https://github.com/suprematic/otplike/

[2018-07-19 21:13] TimoFreiberg commented on #208
Debug output for the otplike failure:
[code]

The real debug run took too long for my tastes, so I used a locally installed cloverage where I changed the `(tprnl "Wrapping " (class form) form)` at instrument.clj:374 to `(println "Wrapping " (class form) form)` and didn't call it with `--debug`.
Not sure what to make of this, maybe I'll take another look in the next few days.

[2018-07-20 02:21] andrewbruno commented on #219
Hi Ivh, it's a legacy project, so not worked on constantly - hence I am unable to create a reproducer.

All I can say is that setting Cloverage to 1.0.10 solved the problem.

If there are any tests or further logs/stats or commands I can run to get more info out, let me know.

[2018-07-20 06:45] LukasRychtecky commented on #211
It seems that no one else has the rights for the repo. Thus @TimoFreiberg is right, let's do it. @TimoFreiberg Do you want to do it, or should I?

[2018-07-20 17:04] lvh commented on #211
We should use @tobias' fork if at all possible. Toby's a nice guy, done a lot of Java 9/10 work, and a gazillion forks with no idea of which one to use helps no-one.

[2018-07-20 17:15] tobias commented on #211
Howdy @lvh! I don't actually maintain a fork, I just forked the repo to create a PR to update the dynapath dependency. A quick [search on Clojars](https://clojars.org/search?q=bultitude) doesn't reveal any published forks, so if it's important to cloverage, you may want to have your own fork. I suspect others that depend on bultitude would appreciate it, since it looks like no one has come forward

[2018-07-20 17:21] lvh commented on #211
Neat; thanks for chiming in. Good job on not accreting more responsibilities :D

OK, who wants to be a hero? @LukasRychtecky? @TimoFreiberg? ;)

[2018-07-20 20:48] TimoFreiberg commented on #208
Ok.
I used a locally built clojure with a better error message at the cast in `referenceLocal` and found out that `RT.get(LOCAL_ENV.deref(), sym)` returns `:riddley.compiler/analyze-failure`.
So I modified riddley locally to at least print the stack trace at https://github.com/ztellman/riddley/blob/master/src/riddley/compiler.clj#L67, and the exception that get's hidden from me is:
[code]

Still n

[2018-07-21 10:06] TimoFreiberg commented on #211
I don't like the sound of "hero", but it looks like a reasonably small commitment :)

[2018-07-24 20:38] TimoFreiberg opened #221 "lein test fails, need to add "with-profile +sample""
The test `test-cyclic-dependency` fails when the `sample` profile is not enabled, because it doesn't find the file.
Could we either add the `{:source-paths ["sample"]}` setting to the `test` profile or move the `cyclic_dependency.clj` file into the `test/cloverage/sample` directory?

I actually did the latter to fix the issue before I checked which profile is used by travis and found the `sample`

[2018-08-06 07:25] dazld commented on #174
It's an old issue, but just wanted to chime in that had a similar problem, and the issue was the readers hadn't been loaded (in my case, the datomic ones). I had to explicitly bind the readers when we were slurping in EDN, and then all was ok - ie:

[code]

[2018-08-06 15:13] timgilbert commented on #173
It's worth noting that this may be an incorrect use of the datomic reader literals - datomic provides a `(d/tempid)` function meant to be used in functions like this (or in more recent releases, you can use a string as the tempid). The `#db/id` bit is resolved at read-time, when sample-ns.core is compiled, which means that every time `(add-person)` is invoked it will use the same value.

[2018-08-06 16:49] lvh commented on #173
@timgilbert is the bug in cloverage or in the code it fails to instrument?

[2018-08-07 23:56] kenrestivo-stem commented on #197
Tried manually putting the readers in. Still fails :(

[code]

[code]

[2018-08-16 15:52] #211 closed

[2018-08-19 23:16] aengelberg opened #223 "Can't test macro defined in cljc file"
I have a macro defined in a source file like so:
[code]
and a test file depending on it like so:
[code]
But when I run `lein cloverage` I get this error:
[code]
If I rename `core.cljc` to `core.clj` and remove the reader conditional, the tests pass.

I've pushed this super minimal repro case (including the project.clj) to the `cloverage-repro` branch of instaparse if you want to take a look:
[code

[2018-08-20 16:03] lvh commented on #223
Heya! Thoroughly appreciate the reproducer. As a workaround: can you just get rid of the reader-macro'd macro, or does the original thing have two separate macro definitions?

[2018-08-20 16:33] aengelberg commented on #223
I think I need to keep the reader macro, since what I'm accomplishing there is defining a macro in Clojure that is used by both Clojure and ClojureScript.

Also, if I remove the reader conditional, the bug still occurs. I think the bug is dependent on the macro being defined in a cljc file, not the existence of the `#?(:clj)` reader conditional.

[2018-08-20 16:46] lvh commented on #223
Ah: you're using bootstrapped Clojurescript? My understanding is macros in regular Clojurescript are always evaluated in Clojure -- that is, during compilation.

I don't have a hypothesis yet for this bug. I can reproduce and can confirm it persists with the reader macro gone (the latter was surprising to me).

[2018-08-20 16:55] aengelberg commented on #223
No, I'm using regular ClojureScript, which is why in Instaparse I wrap all my macros in `#?(:clj)` so the defmacro only gets evaluated on Clojure.

[2018-09-05 08:09] lukaszkorecki opened #225 "Invalid lcov format?"
Hi 👋 !

My team recently started using CodeClimate - and I was happy to discover that we can use its coverage reporting via lcov format. Here's the setup (assumes that everything is configured on CodeClimate side):

https://github.com/lukaszkorecki/codeclimate-kibit/blob/73491d0a1d280a35ef4d1496d1e93cd2fb9de911/.circleci/config.yml#L43-L48

[code]

The line with `sed` invokation addresses the issu

[2018-09-05 13:48] lvh commented on #225
The `sed` line is to fix the addition of the `src` I take it?

[2018-09-05 14:31] lukaszkorecki commented on #225
@lvh yes, that is correct

[2018-09-05 19:08] lvh commented on #225
Cool. I can cut releases and review PRs, but I don't have much resources to devote outside of that. Does sound like a bug though! So if you write a fix I'll carry it from there :)

[2018-09-06 06:59] lukaszkorecki commented on #225
Makes sense - I hope to get some time soon and get a PR with the fix 👍 Thanks!

[2018-09-11 13:48] prepor opened #227 "Wrong assumption about special forms"
Hello!

Here
https://github.com/cloverage/cloverage/blob/master/cloverage/src/cloverage/instrument.clj#L118

[code]

"local variables can't be macros/special symbols" is wrong in case of special forms. Just try to execute
`(let [try 1] (try 1))` for example. It works, because special forms are, you know, special :)

So, because it cloverage fails to instrument forms with local `try`, `new` etc.

[2018-09-26 16:41] gordonsyme opened #228 "Inclusion of venantius/ultra in cloverage's dependencies"
Hi there, thanks for providing cloverage, we use it pretty extensively and it's great!

I've noticed that recent versions of cloverage (from [1.0.11](https://clojars.org/cloverage/versions/1.0.11) to [1.0.13](https://clojars.org/cloverage/versions/1.0.13) ) now include [venantius/ultra](https://github.com/venantius/ultra) in their dependencies. [1.0.10](https://clojars.org/cloverage/versions/1.0.1

[2018-09-26 17:54] gordonsyme commented on #228
Sure, this is the part of the tree rooted at cloverage:
[code]

[2018-09-26 18:06] lvh commented on #228
That's bizarre. I definitely have ultra in _my_ profiles, but I have no idea why it'd show up in the dep tree.

[2018-09-30 07:16] aengelberg opened #229 "Lists' metadata removed during instrumentation"
When running cloverage on the following source code:
[code]
I get the following exception during the test run:
[code]
This implies the `^Runnable` metadata is getting removed from the `(fn [])` during instrumentation, causing an ambiguous method signature.

[2018-11-03 13:03] hden opened #232 "Inconsistent test results."
Inconsistent test results when dealing with Java interop.

- JDK 1.8.0
- Clojure 1.9.0
- Leiningen 2.8.1

[code]

- works fine when running `lein test`
- errors when running `lein cloverage`

To reproduce the error, see: https://github.com/hden/gcs-database-history/pull/4/files#diff-ee3a67dc488e543fc93045c975a4ac00R55

[2018-11-15 11:04] plexus opened #233 "Cloverage dramatically underreports form coverage"
If you look at [these coverage results](https://codecov.io/gh/lambdaisland/kaocha-cloverage/src/master/src/kaocha/plugin/cloverage.clj), they have 100% line coverage but only 50% form coverage. Some of that can be chalked up to macros, but quite a few of those lines are bog-standard Clojure code that isn't even doing that much.

I can not think of a single test to add that would exercise any more

[2018-11-15 17:12] lvh commented on #233
That link doesn't work for me.

[2018-11-16 11:08] plexus commented on #233
What does it look like for you? I just tried in an anonymous browser window and it seems to be public...

[2018-11-16 11:46] plexus commented on #233
The problem was that my tests were themselves invoking Cloverage, which unsurprisingly messed up the results. Sorry for the noise!

[2018-11-16 11:46] #233 closed

[2018-11-16 11:47] plexus commented on #233
[code]

:smile:

[2018-11-16 17:55] lvh commented on #233
Hooray! Glad it got resolved :)

[2018-11-30 00:28] ghaskins opened #234 "ByteArrayOutputStream interop fails under cloverage"
Using the (.write) method via interop against java.io.ByteArrayOutputStream seems to fail only when running under cloverage context.

## Example Function
[code]

## Cloverage Output

[code]

## Normal clojure.test output

[code]

[2018-11-30 00:31] ghaskins commented on #234
[cloverage-bug-234.tar.gz](https://github.com/cloverage/cloverage/files/2631391/cloverage-bug-234.tar.gz)

[2018-11-30 00:32] ghaskins commented on #234
I've attached a simple leiningen project that reproduces the issue

[2018-12-19 03:51] superstructor commented on #98
I use [bat-test](https://github.com/metosin/bat-test) for Boot which supports Cloverage.

[2019-02-14 16:28] AndreaCrotti opened #238 "Problems with the Timbre library"
I was trying to add cloverage to a project using timbre, and I can't get it to work.
I had already reported the error on:
https://github.com/ptaoussanis/timbre/issues/274

I'm not sure where the issue belong, but are cljx files supported at all in theory?
If not I guess there isn't much to do, but maybe there are some other ways to get it working?

[2019-02-14 16:57] lvh commented on #238
cljc should work and cljx won't :)

[2019-02-14 17:08] AndreaCrotti commented on #238
Yeah ok then no hope until we get a newer version of Timbre sadly

[2019-02-14 17:21] lvh commented on #238
Yep. I'm honestly even on the fence if going back and supporting cljx is worth it. It's hard enough to upgrade cloverage right now and more code for supporting old & crufty stuff is scary :)

I guess I'll close this issue for now.

[2019-02-14 17:57] AndreaCrotti commented on #238
Sure makes sense

[2019-02-15 11:25] AndreaCrotti commented on #238
Uhm that's weird though on one of my personal projects I also use timbre and cloverage works
https://codecov.io/gh/AndreaCrotti/elo
so it doesn't "always* blow up https://github.com/AndreaCrotti/elo/blob/master/project.clj#L64

Maybe it's just somehow not loading that same problematic file while running my project.

[2019-03-01 04:05] didibus opened #239 "Test failure details don't get printed?"
It seems that when there are test failures, cloverage doesn't print out the details, so I have no idea what test failed and why?

[2019-03-04 03:49] lvh commented on #239
Do you have an example reproducer? That's not how I remember this working :)

[2019-03-05 12:53] miikka opened #240 "Partial `loop` coverage when a variable is initialized to an integer value"
I've encountered a weird issue with `loop` coverage. Originally our `loop` form was fully covered – as it should be as we have a lot of tests to exercise it. We added a new loop variable with initial value of `0`.  After this change, the coverage became partial for the whole loop form. The partial coverage numbers "x out of y forms covered" in the HTML report seem to have too many forms in total w

[2019-03-06 07:25] miikka commented on #240
Managed to create a simple reproduction.

[code]

With this code, I get only 100% line coverage but only 51.06% form coverage. If I switch `[x 0]` to `[x nil]`, I get 100% form coverage.

You can further simplify it to this and still trigger the bug:

[code]

The `let` form is needed – if you try to switch it to `(recur (inc x))`, the bug disappears.

[2019-03-06 07:43] miikka commented on #240
In the debug logs, the obvious difference is that "Track coverage called" occurs twice for the `if` form and its nested form. This would explain the over-large number of partial forms in the HTML report and the partial coverage in general. I do not understand why it is happening, though.

[2019-03-06 16:17] ataggart opened #241 "Support excluding call sites by fn/macro name"
In principle, I prefer having 100% test coverage _with explicit exclusions_, rather than using a lower percentage that permits arbitrary code to remain uncovered. Toward this goal, the `:ns-exclude-regex` feature has been critical.

I am currently using [outpace.config/defconfig](https://github.com/outpace/config#config-usage), and as with [`defmulti`](https://github.com/cloverage/cloverage/blob/a

[2019-03-06 22:50] #241 closed

[2019-03-07 15:08] lvh commented on #83
Closing this out since there's no reproducer and apparently modern versions of cheshire/jackson resolve the issue.

[2019-03-07 15:08] #83 closed

[2019-03-07 16:24] #225 closed

[2019-04-03 03:43] JAremko opened #246 "partial coverage of clojure.spec.alpha/coll-of"
For the specs:
[code]

Macroexpansion looks like this:
[code]

It can be expanded again into:
[code]

Full coverage if you run:

[code]

But this spec:

[code]
expands into:

[code]
then into:

[code]

This gets partial coverage both with `(s/valid? ::foo ["a" "b" "c"])` and `(s/valid? ::foo [])`

![https://i.imgur.com/d76ft6E.png](https://i.imgur.com/d76ft6E.png)

- - - - - - - -

**Mb it should

[2019-04-04 00:02] didibus commented on #239
Hum, sorry, I still didn't get a chance to try and repro it minimally.

But, we realized that it seems the failed tests is captured in the junit.xml, and we are using the option: `--junit`. Could it be this happens when you have that option only?

[2019-04-04 03:43] lvh commented on #239
Sorry, could you elaborate? (FWIW, I'm currently maintaining but not developing cloverage but I do know several folks using junit.xml, so I think a reproducer is the best way forward for_you_ -- but either way I don't think I have the resources to go debug it -- maybe a fix if it's trivial.)

[2019-05-16 11:09] thumbnail opened #247 "Test calling wrong function"
Given a file using java's interop and defining a function `new`, `lein cloverage` might call the wrong function. I noticed this only happens when the file is loaded early on (in `dev/user.clj` for example) .

`lein test` will always succeed (calling the right `new`-fn).
`lein cloverage` will call the redefined function for the interop (instead of clojure's new), causing unexpected behavior.

### T

[2019-05-16 19:04] lvh commented on #247
Heya! Just to set expectations here:

1. I really appreciate you taking the time to make a reproducer.
2. I'm doing project management stuff like code review and releases but I don't have time to develop fixes.

[2019-05-16 19:31] thumbnail commented on #247
Hey @lvh, thanks for that. Currently I refrain from using `user.clj` and cloverage together in a project; which prevents the issue as a whole. I might give this a shot in the future if it starts bothering me more.

[2019-06-02 17:38] miikka commented on #240
Okay, looks like that this is not a bug in Cloverage but in Clojure: [CLJ-1407](https://clojure.atlassian.net/browse/CLJ-1407). Mismatched primitive arguments to loop/recur cause side-effecting macros to be re-evaluated. I don't think this can be fixed on Cloverage side, so I'll close this issue.

[2019-06-02 17:38] #240 closed

[2019-08-13 03:33] netpyoung opened #250 "add disable colorize option"
When I try tracking coverage on gitlab, I had some trouble of colorized text of cloverage.
For disable color, Adding external dependencies is like perl or something is not good to me.
- https://docs.gitlab.com/ee/user/project/pipelines/settings.html#removing-color-codes

so How about provide disable colorize as option?

[2019-09-04 11:58] p1mps opened #252 "Difference between % Forms and % Lines"
As the title says, what is the difference between the two columns in the table results? % Lines I understand of course but what about the other?

[2019-09-04 12:21] lvh commented on #252
"Forms" are a Clojure term: https://clojure.org/reference/evaluation

Hope that helps, let me know if it doesn't.

[2019-09-04 12:21] #252 closed

[2019-09-04 13:55] p1mps commented on #252
It doesn't, sorry :\. I still don't understand the difference between the two (though I know what forms and evaluation are in clojure FYI :)).

[2019-09-04 19:11] lvh commented on #252
[code]

Let's say `(a)` returns true. b,c,d  are never evaluated. This snippet has 50% line coverage (there are two lines, one is evaluated), but far less form coverage (5 forms, 1 partial (or), 1 entirely, 3 not at all evaluated), resulting in 20% form coverage (or 40% including partials).

[2019-09-04 19:47] p1mps commented on #252
Thank you for the explanation and thank you very much for your work!

[2019-09-20 01:29] lvh commented on #197
#255 may have fixed this. @kenrestivo-stem could you check with a master build and let me know if it's still broken?

[2019-09-20 01:29] #197 closed

[2019-10-08 08:01] AndreaCrotti opened #257 "Bug with deftype"
Yesterday we had a bit of a surprise when test coverage stopped working.

First because it was working fine on Friday and on the same commit it was failing the Monday after.
This turns out was just because:
- a new version of cloverage came out the 6th of October
- we had pinned the version of "lein-cloverage" but not cloverage the library

This meant that "cloverage" auto updated and we hit a bug

[2019-10-08 18:23] lvh commented on #257
Sorry to hear that!

1. Yes, a reproducer would be great.
2. cc @camsaul since they contributed the deftype code so they probably have opinions on how it works.

[2019-10-09 11:14] miikka commented on #109
It seems to me that the most straightforward approach forward would be to use MrAnderson. Removing the dependencies now used in the intstrumenting code does not seem trivial and as a vendoring solution MrAnderson is well-established.

[2019-10-09 13:13] AndreaCrotti commented on #257
So the form that makes everything explode with that error above is here below.
There is the `__hasheq` in the arguments as you can see, which is probably related.

I tried to add a test to prove the failure but I didn't manage.
Let me know if you need any more information, thanks

[code]

[2019-10-14 12:56] cddr opened #260 "Merge coverage results from different test-runs"
It seems like a lot of teams divide their tests into buckets (e.g. unit, integration, UI, backend etc). Ultimately I think this is usually done to reduce the time it takes CI to run a system's tests but it can also be just to modularize the test-suite so that if you're not touching the UI for example, there's no need to run the UI tests.

This presents a problem when wanting to get a complete pict

[2019-10-15 19:42] Sh4pe commented on #190
I won't have the time to fix this, hence I close this issue.

[2019-10-15 20:16] lvh commented on #190
I appreciate you may not have the time, but someone else might, so I'd prefer to keep it open.

[2019-10-16 21:12] lvh commented on #260
FWIW as a workaround: some tools support this that operate on formats cloverage knows how to export to.

[2019-10-23 00:58] nwjsmith commented on #228
@gordonsyme @lvh the dependency tree as of 62557e1ba2215b99fde9aa5a2bb23dc5f7d3e583:

[code]
Looks like this issue has been resolved.

[2019-10-23 01:54] nwjsmith commented on #257
@AndreaCrotti Could you provide the original, non-macroexpanded source for the `(hasheq [this])` method? I'm trying to put together a test to reproduce this, and that would be a great help.

[2019-10-23 08:55] AndreaCrotti commented on #257
I extracted some code which I think causes this here
https://github.com/AndreaCrotti/cloverage-issue

interestingly I get a different error there but it still fails.

[2019-10-23 11:07] AndreaCrotti commented on #257
So if you need more help let me know @nwjsmith , it's somehow related with the pgobject and postgresql/jdbc magic, we don't really write any of that code causing the failures ourselves.

[2019-10-23 12:12] nwjsmith commented on #228
Upon further inspection, it looks like this was an issue specifically with [1.0.12](https://clojars.org/cloverage/versions/1.0.12) and [1.0.13](https://clojars.org/cloverage/versions/1.0.13), but no later versions (see the list of dependencies for those artifacts).

[2019-10-23 12:17] gordonsyme commented on #228
Thanks @nwjsmith, from what I remember it was ultra's behaviour of injecting itself as a dependency when used as a plugin that caused this.

[2019-10-23 12:17] #228 closed

[2019-11-21 23:43] gonewest818 opened #261 "lein-cloverage 1.1.2 throws NullPointerException instrumenting a leiningen plugin"
To reproduce:
1. create a new leiningen plugin project
2. add `[lein-cloverage "1.1.2"]` as a plugin
3. `lein cloverage` to see the null pointer exception
4. revert to `[lein-cloverage "1.1.1"]`
5. `lein cloverage` yields normal output, no exception

I looked at the history, and it seems to me the likely culprit is 8adb81c568a36031be9ed156e1da8d32985c4968 which is the main substantive change to `l

[2019-11-27 18:40] lvh commented on #261
Looks like the biggest difference is `:eval-in-leiningen true`. Does the error go away if you turn that off?

[2019-11-27 19:15] bfontaine opened #262 "Cloverage’s console tests are locale-dependent"
Here is what I get when I run `lein test cloverage.report.console-test` locally:
[code]

This is because my locale is French; if I force the `en-US` locale it has no issue:
[code]

I’m not sure how to force a specific locale just for the tests.

[2019-11-27 20:24] rmangi commented on #238
I'm actually having this same issue and can't seem to resolve it.

[2019-11-27 21:10] lvh commented on #238
@rmangi Can you recreate a minimal reproducer?

[2019-11-27 22:35] lvh commented on #262
I don't understand those test failures at all. Those look like the same strings...

[2019-11-27 22:40] bfontaine commented on #262
The expected ones use the dot `.` to separate decimals while the actual (French) ones use the comma `,`:

[code]

[2019-11-27 22:52] lvh commented on #262
Ah, sorry, I completely overlooked that, you're right of course :)

[2019-11-28 17:30] gonewest818 commented on #261
Yes. In the repro I posted above, the error goes away if you turn off `:eval-in-leiningen true`.

[2019-11-28 22:46] jameslintaylor opened #263 "Exclude call doesn't work on doseq"
The specific issue I am running into is related to the practical inability to achieve full coverage on `clojure.core/doseq`, as discussed in https://github.com/cloverage/cloverage/issues/23 (and partially addressed by https://github.com/cloverage/cloverage/pull/72).

I thought it to be a reasonable solution to explicitly exclude `doseq` forms using the `--exclude-call` feature introduced in https:

[2019-12-02 15:22] rmangi commented on #238
Hi, thanks for the quick response. So I've isolated the issue to another dependency that uses nippy. It's actually a library that I've contributed to https://github.com/tolitius/cbass so I'll try to track it down there. If you simply add that to a project and run cloverage it fails with "reader-error does not exist". Deep in the stack trace it looks like nippy is loading taoensso.encore and that's

[2019-12-02 15:59] rmangi commented on #238
I think I figured it out. That project has a "test" that's actually trying to connect to a real hbase cluster. I mocked it out and pushed a local snapshot and it seems to fix the problem. I assume cloverage is loading in the tests for that dependency and somehow that's causing it to fail. nippy is just a red herring.

Sorry for the alarm :)

[2019-12-04 19:32] #263 closed

[2019-12-05 07:44] darkleaf opened #265 "WARNING: Unknown special form (letfn* ..."
cloverage version - 1.1.2

[2019-12-05 14:28] lvh commented on #265
Can you please add a minimal reproducer?

[2019-12-05 19:06] darkleaf commented on #265
Thanks for fast answer!

[Minimal example](https://github.com/darkleaf/cloverage--265) uses [cloroutine](https://github.com/leonoel/cloroutine) library.

I've tried to make the [simplest example](https://github.com/darkleaf/cloverage--265/blob/master/src/letfn.clj), but it fails with error.

[2019-12-05 19:13] darkleaf commented on #265
I found that warning in this [project](https://github.com/darkleaf/effect)

[2019-12-05 22:57] lvh commented on #265
I haven't' debugged this but I expect that the issue is that https://github.com/cloverage/cloverage/blob/19648918f611a801479798f506cf82f0ef458b43/cloverage/src/cloverage/instrument.clj#L74 doesnt' include letfn* specifically and cloroutine is emitting letfn*'s directly (instead of letfn).

[2019-12-06 14:21] darkleaf commented on #265
I tried to patch `list-type` but didnt' get coverage inside `cr` macro.

Is it possible to see covered and uncovered forms inside `cr` macro?

`cr` macro rewrite code into state machine.

[2019-12-06 16:41] lvh commented on #265
Wait, you're no longer getting an error and now getting partial coverage, right?

[2019-12-06 17:14] darkleaf commented on #265
Right. I don't see warnings.
My patch - https://github.com/darkleaf/cloverage--265/commit/87248c3bbd7ddab4cea31516cfc5fd52b9e375fb

<img width="487" alt="Снимок экрана 2019-12-06 в 21 09 23" src="https://user-images.githubusercontent.com/1124593/70341665-e3774300-186c-11ea-835a-5f4c70a39d27.png">

for both namespace-less and namespaced

[2019-12-06 17:21] lvh commented on #265
OK, that's trickier. The best way is probably to `macroexpand-1` (into your source) to see what's happening there. It's almost certainly the same style of problem as `for` and `doseq` where there are two mutually exclusive paths (for `for` and `doseq` it's chunked vs non-chunked seqs) causing the partial coverage. In a sense this isn't a bug per se: cloverage is correctly reporting that the form d

[2019-12-06 17:44] darkleaf commented on #265
`lein cloverage --exclude-call cloroutine.core/cr` with SNAPSHOT version and without my path:
<img width="490" alt="Снимок экрана 2019-12-06 в 21 41 22" src="https://user-images.githubusercontent.com/1124593/70343613-2c30fb00-1871-11ea-8681-048ec8f9fa98.png">

macroexpand:
[code]

Note that `cr` macro uses `&env`. In that case `&env` is empty but it can be not empty.

[2019-12-06 17:48] darkleaf commented on #265
full warning message with snapshot version
[code]

[2019-12-06 17:55] lvh commented on #265
Is the bug that handle! is actually getting called? I don't know how to read that coroutine code :)

[2019-12-06 17:59] darkleaf commented on #265
I expect `(! 42)` inside `cr` was marked as green and `"some code"` was marked as red.

[2019-12-06 18:04] darkleaf commented on #265
Like this:
<img width="404" alt="Снимок экрана 2019-12-06 в 22 03 57" src="https://user-images.githubusercontent.com/1124593/70344969-5801b000-1874-11ea-985b-9c29829afcbb.png">

[2019-12-06 18:45] lvh commented on #265
I'm confused: your last example has line 17 marked as partially covered, right?

It looks like that might be because `safe` is necessarily going to either throw or not, so there's a mutually exclusive branch there.

[2019-12-06 19:07] darkleaf commented on #265
I just add new example `example*` without `cr` macro. `throw` was written by me not cloroutine.

[code]

I just want to see which forms macro are covered inside `cr` macro.

[2019-12-06 19:12] darkleaf commented on #265
Right, because `let` from partially covered. `(! 42)` is covered and "some code" not covered.

[2019-12-06 19:17] darkleaf commented on #265
I wrote some confusing comments. Sorry.

Problems:
1) warning messages
2) unavailable coverage info inside `cr` macro

[2019-12-06 21:10] lvh commented on #265
Aha, OK, I think I understand:

1. Warning messages are gone with your patch
2. `--exclude-call` is not a good answer because things that are not covered are shown as covered; https://github.com/cloverage/cloverage/issues/265#issuecomment-562677735 was not real Cloverage output, that's what you _wanted_ to see but can't get Cloverage to produce
3. in your example with `throw` and `"some code"`, `"

[2019-12-06 21:12] lvh commented on #265
What happens if you ask Cloverage, with your letfn patch, to instrument the macroexpanded code?

FWIW I don't know why using cloroutine suddenly makes Cloverage complain about `letfn*` when ordinarily letfn code appears to work fine, I imagine it's just because we've never had a macro produce letfn as an intermediate step in macroexpansion, but who knows :)

[2019-12-07 05:15] darkleaf commented on #265
1. right
2.1 excluded forms are shown as uncovered
2.2 right
3. "some code" is never reached. But "some code" is a data so it can't be marked.

<img width="427" alt="Снимок экрана 2019-12-07 в 9 15 26" src="https://user-images.githubusercontent.com/1124593/70369388-20295580-18d2-11ea-838e-c9d10ea4eb13.png">

[2019-12-07 05:20] darkleaf commented on #265
<img width="935" alt="Снимок экрана 2019-12-07 в 9 20 30" src="https://user-images.githubusercontent.com/1124593/70369448-d5f4a400-18d2-11ea-8771-42f47c21f39d.png">

[2019-12-07 17:57] lvh commented on #265
What's the actual bug here? Isn't it true that that second half never gets called?

[2019-12-07 18:31] darkleaf commented on #265
1) warning message
2) `cr` macro didn't marked as partial covered
3) forms inside `cr` macro are not marked

I got:
<img width="433" alt="Снимок экрана 2019-12-07 в 22 28 07" src="https://user-images.githubusercontent.com/1124593/70379031-4d611c80-1941-11ea-9ca0-9fed8d487c1c.png">

I expect:
<img width="438" alt="Снимок экрана 2019-12-07 в 22 28 17" src="https://user-images.githubusercontent.com/1

[2019-12-14 20:34] lvh commented on #265
Heya: just as a heads up, I'm not going to have more time to work on this since this requires enough understanding of cloroutines and I don't have time to invest that right now. Sorry.

[2019-12-16 11:40] vemv commented on #262
Interesting one!

I guess it could be fixed by merging the following into project.clj:

[code]

[2019-12-17 16:54] lvh commented on #262
Yep, that seems like an appropriate fix, I checked that the tests still "make sense" otherwise. Obviously we're not testing non-en-US behavior, but... it's a start :)

I'd be happy to take a PR, @vemv.

[2019-12-17 19:23] vemv commented on #262
Appreciated, but I tend to avoid getting involved into small PRs as they can end up demanding more time for both sides

[2019-12-18 12:54] bfontaine commented on #262
I did the PR: https://github.com/cloverage/cloverage/pull/266

[2019-12-18 20:37] #262 closed

[2020-01-28 17:33] #250 closed

[2020-03-10 10:50] Otann commented on #208
Hi @TimoFreiberg,
Did you figure out the solution to this?

[2020-03-10 11:04] TimoFreiberg commented on #208
@Otann nope, sorry. In my case, there was an exception in the code that was analyzed (`java.lang.RuntimeException: Method code too large!`), so that needed to be fixed. Riddley doesn't help the usability there by swallowing that exception... but it doesn't look like that's going to be changed :woman_shrugging:

[2020-03-16 06:56] plexus opened #268 "Consider dropping AOT compiled tools.reader"
Cloverage packs an AOT compiled version of clojure.tools.reader into the jars released to Clojars. This seems to have started in 2015 as a response to others adding AOT compiled libraries to their jars, notably Riemann. The reason was to make sure a specific, recent enough version would be used, but the result is that it has become impossible to control which version will be used, as you don't kno

[2020-03-16 16:24] lvh commented on #268
Hm. I agree with your general assertion we should fix something, but I'm concerned just getting rid of the vendored version is bad too. Even if tools.reader is de facto much better about backwards compatibility these days, cloverage is an exception-catching machine (in the sense of "exception to the rule" not "Throwable") that relies on a lot of subtle details of a lot of progressively aging softw

[2020-04-01 08:47] jainsahab opened #269 "Report documentation"
Hi, is there a documentation to understand the different indications in a cloverage report?

[2020-04-02 16:22] lvh commented on #269
There is no explicit documentation.

[2020-04-02 16:22] #269 closed

[2020-04-14 09:13] jimka2001 opened #270 "unclear or misleading documentation in blog post"
I was setting up test coverage according to [this blog post](https://blog.jeaye.com/2016/12/29/clojure-test-coverage/) and I feel like I'm almost there.  But some explanation in the post is confusing.

It specifies I can create a *badge* in the README.md file by inserting the following.

[code]
However it doesn't indicate how to figure out the PROJECT-NAME nor USERNAME

I notice the code for regis

[2020-04-15 22:16] lvh commented on #270
I don't control that blog post, so I can't fix it, but: the PROJECT-NAME and USERNAME are GitHub user/org name and project name, so clojure-rte and jnewton in your case. You should be able to copy the link to the badge from the codecov page.

[2020-04-15 22:17] #270 closed

[2020-05-08 00:11] camsaul opened #271 "Unexpected error macroexpanding cloverage.instrument/wrapm in Potemkin defrecord+ form"
A minimal `defrecord+` form will cause Cloverage to fail entirely:

[code]

[code]
I've created a minimum Leiningen project for reproducing this bug here: https://github.com/camsaul/cloverage-bug-minimal-project.

Attempting to macroexpand that form with Riddley outside of Cloverage works without issue so something else must be going on. I have a bit of experience with the code in question from im

[2020-05-08 01:01] camsaul commented on #271
So this actually looks like the same underlying issue as #257

[2020-05-08 02:02] camsaul commented on #271
Duplicate of #257

[2020-05-08 02:02] #271 closed

[2020-05-08 03:40] camsaul commented on #257
So there are actually a few problems here.

1.  Normally `defrecord` is instrumented before fully expanded into a `deftype*` form, which contains a dozen or so method implementations for Clojure methods. The methods that get generated normally don't get instrumented, which makes sense -- we shouldn't care if you never invoke one of the map equality methods generated by `defrecord` in your code. Ho

[2020-05-08 14:29] #257 closed

[2020-05-08 17:34] camsaul opened #277 "Instrumenting inlined primitive cast functions like int() can cause some instrumentation to fail"
I mentioned this in #257 -- part of the reason it was failing was instrumenting the methods ultimately generated by `defrecord` fails with a "Must assign primitive to primitive mutable". #273 worked around this by not instrumenting the methods automatically generated by `defrecord`, but the underlying problem is still there.

`defrecord` ultimiately generates a method that is something like this:

[2020-05-08 19:17] camsaul opened #279 "Instrumenting fn forms is discarding :tag metadata which can cause Cloverage to fail"
Instrumenting the following form

[code]

fails:

[code]

However, instrumenting the following form works correctly:

[code]

So it looks like `fn` forms aren't retaining their `:tag` metadata when being instrumented. I'll try to write a test for this and fix it.

[2020-05-08 23:45] camsaul opened #280 "Leaky macroexpansion of var forms"
This issue took me a really long time to work out but I was running into it in real life. It looks like instrumentation is macroexpanding forms differently than normal Clojure code evaluation.

Suppose you have a namespace that defines a `my-var` macro:

[code]

It macroexpands like this:

[code]

Even if you define a var named `var` in your namespace:

[code]

However, instrumenting that same for

[2020-05-10 21:54] #279 closed

[2020-05-23 00:10] matt-y opened #283 "Installation instructions unclear"
Hello, I'm a bit new to clojure and got tripped up on cloverage's installation instructions with my lein project.

I'd like to suggest that the installation portion of the `README` be slightly revamped to cover both of the following scenarios, but also with usable snippets to make installation much easier.

For lein:
1. Global cloverage install into `.lein/profiles.clj` _(this file does not curren

[2020-05-23 01:24] matt-y opened #284 "cloverage test suite failure"
Hello! I've cloned the project and attempted to run the cloverage tests with `lein test`, and it resulted in 2 errors, and 1 failure. Below are some details that will hopefully be of some help. Thanks for reading, and please let me know if I can provide any more information, or if versions of anything look wrong.

My HEAD as of writing this is pointing at 8091f1c2ca524346553e565e1d3cc692dde1f306

[2020-05-23 04:12] matt-y commented on #283
An additional question I had was whether or not I could include cloverage as a `:plugin` in the `:test` profile, which should be included during `lein test`. Is that possible? It seems to only work when included under the `:user` profile when the `:profile` mode of inclusion is used.

[2020-05-23 15:02] lvh commented on #283
Assuming `:plugin` is just a typo (you want `:plugins`, plural): `lein test` does two things: run leiningen's test runner, and activate the `:test` profile. So you're right that it will make cloverage _available_, but that doesn't mean it will _run_. If you want cloverage to run automatically when you run your tests, you'll have to override the `test` command, likely with an alias in your project.

[2020-05-23 22:12] #283 closed

[2020-05-23 23:27] matt-y commented on #284
It seems this is a known issue! There is already an issue filed for this scenario here: https://github.com/cloverage/cloverage/issues/221

Running my tests locally in the following way resolved things:
[code]

[2020-05-23 23:27] #284 closed

[2020-05-23 23:53] lvh commented on #221
FYI: I have no idea if there's a good reason why that profile/directory needs to exist. I imagine it's because it breaks some CI tools and so you want that in a separate directory, but that doesn't explain why you wouldn't just add a :source-path to :test as you suggest. I'd be happy to take a PR that adds the source path and gets rid of the :sample profile, which appears to be what you suggest.

[2020-05-24 16:15] matt-y commented on #221
Moving the `cyclic_dependency.clj` into the `test/cloverage/sample` is reasonable, but as lvh mentioned, it does in fact cause a CI breakage. There's an issue open against eastwood tracking this: https://github.com/jonase/eastwood/issues/252. To get around that issue the eastwood invocation in the `.travis.yml` CI file would have to exclude that namespace (which it implicitly does in the current o

[2020-05-26 13:37] #221 closed

[2020-05-26 14:25] matt-y commented on #268
Combining the `:aot [clojure.tools.reader]` removal with a version bump I think would be fine. The main reason for not :aot-ing a dependency is that it can cause issues for downstream users as we see here. For me, that's enough reason to look into its removal.

Looking at the commit where this was added seems to imply it was `:aot`'d to minimize bug reports from downstream sources using old reader

[2020-05-26 16:14] lvh commented on #268
If the tests are happy I'm happy :)

[2020-05-28 01:36] #268 closed

[2020-05-28 19:50] julienba commented on #271
Hello @camsaul,
I just want to say thank you. I was trying to use cloverage on a project with https://github.com/metabase/toucan and I encounter the same error, with your fix, it works.

[2020-07-09 14:54] yonatane opened #289 "Activate test profile when running from lein-cloverage"
When running lein-cloverage normally (`lein cloverage` as stated in the instructions), it doesn't take into account the options I set in the `test` profile. In my case I silence logback logs using a specific logback configuration file for tests:
[code]

A workaround is to run cloverage with the test profile merged explicitly in command line:
[code]

A fix would be to do something similar to [eftes

[2020-07-11 19:28] jameslintaylor opened #291 "Collection metadata is lost during instrumentation"
Collection metadata is lost during instrumentation, e.g.:

[code]

This only becomes of practical concern when source code applies metadata to collections via the reader i.e. `^`

[2020-07-12 19:37] #291 closed

[2020-07-16 00:34] sudharsh opened #293 "clojure.lang.Keyword cannot be cast to clojure.lang.Compiler$LocalBinding"
Getting the following stacktrace while running `lein cloverage`.

[code]

Any pointers, much appreciated.

[2020-07-17 23:23] camsaul opened #294 "defonce forms are instrumented incorrectly"
Code coverage reports that expression inside the `defonce` form is not covered (red), and that the conditional branches are not fully covered (yellow):

![image](https://user-images.githubusercontent.com/1455846/87836733-f06a0500-c845-11ea-9419-ba00fa374899.png)

`defonce` forms like

[code]

expand to

[code]

This is my theory of what's happening:

1.  The form is instrumented.
2.  The namespace

[2020-07-17 23:26] camsaul commented on #294
The same issue applies to the dispatch function of a `defmulti` form since `defmulti` behaves as if it were defined by `defonce`

[2020-07-29 06:13] cksharma11 opened #295 "Repeated steps in build pipeline"
I've seen few repeated steps in the circle-ci pipeline
More you can refer to the attached screenshot.

It can be intensional but just raising a point.

<img width="1377" alt="Screenshot 2020-07-29 at 11 40 45 AM" src="https://user-images.githubusercontent.com/22887527/88763393-b1ff0f00-d190-11ea-9531-fb8d5bbc8916.png">

[2020-07-29 12:08] cksharma11 opened #296 "Error encountered performing task 'cloverage' with profile(s): 'base,system,user,provided,dev' Suppressed exit"
I'm able to run the coverage but getting this error while running -lein with-profile +test cloverage

The problem it creating for me is the exit code 1 because of the error.

[2020-07-29 13:56] lvh commented on #296
Do you have a minimal reproducer for this? That should only happen in ancient versions of lein or if there's actually an error.

[2020-07-29 13:56] lvh commented on #295
Are you referring to there being multiple instances of `eastwood` and `kibit`?

[2020-07-30 00:21] lvh commented on #294
This sounds plausible; the presumably correct approach is to specialcase `defonce` the way a number of other forms are specialcased.

[2020-07-30 00:35] lvh commented on #294
Incidentally defmulti is already specialcased?

[2020-07-30 01:39] cksharma11 commented on #296
@lvh Thanks for reply.
Yes you are right it was happening due to the actual error. I found out the error. There were couple of tests cases which were causing the problem.

Thank you. you can close the issue.

[2020-07-30 01:39] #296 closed

[2020-07-30 01:40] cksharma11 commented on #295
Yes.

[2020-07-30 01:55] lvh commented on #295
One set is for cloverage, the other is for lein-cloverage :)

[2020-07-30 01:55] #295 closed

[2020-08-04 12:14] cksharma11 commented on #52
@wilsonch  did you find any solution for the same?

[2020-08-04 12:20] cksharma11 opened #300 "lein test passing all the tests but with cloverage some tests are failing"
I'm facing a problem similar to https://github.com/cloverage/cloverage/issues/52

when I'm running the lein test all tests are passing
but with when I'm running cloverage 4 of my tests are failing

The main reason of my tests getting failed is it's calling the mock 2 times instead of once.

[2020-08-04 13:04] ghaskins commented on #52
I'm seeing something that feels related.  I have been using cloverage for many years and suddenly in the last few days i have tests that pass in lein-test and fail in lein-cloverage.  Whats even odder is that this includes code that used to pass (i.e. there seems to be some kind of retroactive change in behavior).

Another odd thing that I observe is that even though I have declared cloverage plug

[2020-08-04 13:50] lvh commented on #300
Can you try the current -SNAPSHOT?

[2020-08-04 13:57] lvh commented on #52
Given the amount of changes that has happened since this ticket was originally opened it seems extremely unlikely that the issue is actually the same. Please open a new ticket.

That said: the artifact definitely doesn't seem to have been overwritten: Clojars still shows it as having been pushed Oct 2019. That shell log shows cloverage-1.1.3 getting loaded, which tells me cloverage isn't in your d

[2020-08-04 14:02] ghaskins commented on #52
Ill try the envvar now, ty

[2020-08-04 14:10] ghaskins commented on #52
Using the envvar trick above, I have confirmed that both 1.1.2 and 1.2.0-SNAPSHOT _work_, and 1.1.3 does _NOT WORK_.  I will open a new ticket with the info.  Ty, and also ty for cloverage in general.  It's an awesome tool.

[2020-08-04 14:16] lvh commented on #52
If 1.2.0-SNAPSHOT _does_ work you're just getting bit by the same bug as #298 I think :)

[2020-08-04 14:28] lvh commented on #52
I have just cut 1.2.0 since it appears to fix multiple people's issue.

[2020-08-04 14:28] #52 closed

[2020-08-04 15:57] cksharma11 commented on #300
@lvh  Thank you for the work

I'm getting the following error
[code]
with `[lein-cloverage "1.2.0"]`

[2020-08-04 16:14] cksharma11 commented on #300
@lvh Thanks for the work.

[2020-08-04 16:14] #300 closed

[2020-08-09 15:28] #289 closed

[2020-08-10 21:50] camsaul commented on #280
I think this might be the same underlying issue as #247

[2020-08-11 02:57] #247 closed

[2020-08-11 02:57] #280 closed

[2020-08-14 18:55] camsaul opened #302 "Namespaces instrumented in incorrect order"
I ran into this while debugging some false negatives in https://github.com/metabase/metabase.

Suppose we have three namespaces:

<details>
<summary>
<tt>a</tt>
</summary>

[code]
</details>

<details>
<summary>
<tt>handler</tt>
</summary>

[code]

</details>

<details>
<summary>
<tt>middleware</tt>
</summary>

[code]

</details>

Loading `a` will load `handler` which in turn will load `middleware

[2020-08-14 18:56] camsaul commented on #302
I haven't dug into this bug yet but am planning on doing so now that I have a minimal project for reproducing it.

[2020-08-14 20:53] camsaul commented on #302
So it seems like the correct way to fix this would be to always instrument namespaces before they get loaded as a side-effect, e.g. construct a dependency graph by reading the `:require` form in the `ns` declaration and then instrument those namespaces first (if needed)

[2020-08-14 20:55] camsaul commented on #302
It seems like this is the way things are supposed to work:

[code]

There must be a bug with `dep/in-dependency-order`

[2020-08-15 01:08] camsaul commented on #302
So I actually discovered a couple bugs.

1.  `load-namespaces` only determines dependency order for namespaces that are getting instrumented, and doesn't take into account dependency order for other namespaces. Thus if you only want to instrument a handful of namespaces the order likely won't be correct. The fix for this is to take every namespace into account when determine order.

2.  The depend

[2020-08-18 19:47] #294 closed

[2020-08-18 19:48] camsaul commented on #302
Fixed by #303

[2020-08-18 19:48] #302 closed

[2020-08-19 02:06] camsaul opened #305 "Java interop forms get instrumented incorrectly depending on syntax used"
`(. object method & args)` forms seem to get their args instrumented correctly while forms using the equivalent syntax `(. object (method & args))` do not:

[code]

[2020-08-19 03:04] camsaul commented on #305
I think this may have only been an issue in the code I added in PR #304. Either way, it's fixed there

[2020-08-19 03:04] #305 closed

[2020-08-19 18:38] camsaul opened #306 "class-or-instance part of Java interop calls isn't instrumented"
I just noticed this while poking around something unrelated.

Java interop forms when fully expanded are either of the syntax

[code]

or

[code]

Both syntaxes are equivalent.

`class-or-instance` can be any arbitrary S-expression, e.g.

[code]

Cloverage doesn't attempt to instrument the `class-or-instance` part of the `.` interop forms. Normally the `(let ...)` form above gets instrumented like

[2020-08-19 18:46] lvh commented on #306
I'll leave that up to you but I'd prefer separate if it's all the same to you. Happy to merge in any order that's convenient.

[2020-08-19 19:01] camsaul commented on #306
Fixed in #307

[2020-08-19 20:35] #277 closed

[2020-08-19 20:58] #306 closed

[2020-08-31 18:57] thumbnail commented on #247
I tried the repro and confirmed that the bug has indeed been solved! Thanks!

[2020-08-31 19:20] lvh commented on #247
Sweet, thanks for double checking :)

[2020-08-31 20:07] camsaul opened #308 "Tag metadata needs to be propagated when instrumenting fn call forms"
A form like this

[code]

Gets instrumented like this:

[code]

This causes a reflection warning:

[code]

The problem here is that the tag info from the `(str "No matching clause")` call gets lost.

This form works as expected:

[code]

[2020-08-31 20:24] camsaul opened #309 "Java interop forms calling static method on class are instrumented incorrectly"
A dot-java interop form like

[code]

where `clojure.lang.RT` is a *class*, not the symbol `'clojure.lang.RT`, gets instrumented incorrectly like

[code]

which results in the Exception

[code]

This is a regression introduced by #307 (previously the class-or-instance part of the interop call wasn't instrumented at all)

In most normal circumstances for Java interop forms representing static metho

[2020-09-22 19:16] #308 closed

[2020-09-22 19:17] #309 closed

[2020-09-30 17:20] dknesek opened #312 "java.lang.RuntimeException: No namespaces selected for instrumentation using {:ns-regex (), :ns-exclude-regex ()}"
I just tried to install and run cloverage on a new project for the first time. I'm in an IntelliJ project directory with these contents:
[code]
Here are the contents of `project.clj`
[code]
The src directory contains `core.clj` and the test directory contains `core-test.clj` and a passing `clojure.test` test.
[code]
Here's what I ran and the results.
[code]

[2020-10-18 21:16] dylangleason commented on #312
I can also reproduce, and it seems to affect all versions going back to `1.1.0` for me. Here is my `project.clj` file:
[code]
Here is my project directory:
[code]
Trace:
[code]
Not sure if it matters, but here is the `leiningen` and OS information:
[code]
[code]

[2020-10-18 21:34] dylangleason commented on #312
I can report that reverting to version `1.0.9` resolves the issue for me.

[2020-11-02 20:32] abogoyavlensky opened #314 "Add ability to run Cloverage with Eftest runner"
It would be great to have ability to run Cloverage with [Eftest](https://github.com/weavejester/eftest) runner: `lein cloverage --runner :eftest`. Also there should be a way to configure runner.

[2020-11-02 23:11] #314 closed

[2020-11-25 11:00] alexanderkiel commented on #312
I have the same problem with version 1.2.1. The problem is the dependency ordering. I had only one namespace in my project that didn't require anything. Requiring something like clojure.core did solve the problem for me.

[2021-01-15 02:35] enspritz opened #316 "Anticipating :eftest runner, please release 1.2.2"
If and when you're ready -- We are looking forward to the `:eftest` runner. Thanks kindly!

Also, the cloverage versions stated at the beginning of the README.md are apparently not in sync.
Clojars reports `1.2.1` which is accurate, while the Installation section recommends `1.1.2`..

[2021-01-15 15:56] lvh commented on #316
New version is up on Clojars.

[2021-01-15 15:56] #316 closed

[2021-01-15 15:57] lvh commented on #316
(Also bumped README version.)

[2021-01-29 18:32] #312 closed

[2021-03-02 17:49] lowecg opened #318 "lein-cloverage 1.2.2 throws RuntimeException: No namespaces selected for instrumentation using {:ns-regex (), :ns-exclude-regex ()}"
I'm attempting a basic cloverage run and I'm getting an RTE:

[code]
Report attached:

[clojure-217655934742070685.edn.zip](https://github.com/cloverage/cloverage/files/6070678/clojure-217655934742070685.edn.zip)

Any ideas on what's wrong here?

[2021-03-09 06:05] extesy commented on #318
I have the same problem after upgrading lein-cloverage to 1.2.2, could be seen in automated travis-ci test run: https://travis-ci.org/github/extesy/99-problems/builds/762081819

[2021-03-11 08:17] MokkeMeguru commented on #312
I think this issue is not resolved  in cloverage 1.2.2 .
can you see this repo?
https://github.com/MokkeMeguru/cloverage-experiments
@lvh

[2021-03-11 08:21] MokkeMeguru commented on #318
I have same problem in 1.2.2
ref: https://github.com/cloverage/cloverage/issues/312
I think you can add `(:require [clojure.core])` in your isolated namespace like

[code]

[2021-03-12 16:55] lowecg commented on #318
@MokkeMeguru thank you - that indeed got things working for me.

[2021-03-12 16:55] #318 closed

[2021-04-12 06:56] leppaott opened #319 "Bump org.clojure/tools.reader version"
Could in next release someone bump the version to the latest: [org.clojure/tools.reader "1.3.4"].

We had the following error while running unit tests on CI through kaocha-cloverage plugin and adding dependency fixed it:
`class clojure.tools.reader.reader_types.IndexingPushbackReader cannot be cast to class java.io.Closeable (clojure.tools.reader.reader_types.IndexingPushbackReader is in unnamed m

[2021-04-18 20:41] lvh commented on #319
I'd be happy to take a PR for this (in case something else breaks).

[2021-06-04 18:50] superwesman commented on #319
@leppaott - I'm seeing the same error, but adding tools.reader as an explicit dependency did not fix for me.  Are you sure there's nothing else at play here?

[2021-06-08 10:25] leppaott commented on #319
@superwesman just tested without the explicit dependency on the bottom. and got the same error.
This fix on the reader seemed relevant: https://github.com/clojure/tools.reader/commit/c8981dd6ac7a560db85321b03278d03caf2aed39

Full CI logs:
`Exception in thread "main" Syntax error compiling at (/tmp/form-init14549744393889545930.clj:1:74).
Error instrumenting consent.states.config
	at clojure.lang.C

[2021-07-26 19:25] vemv commented on #293
Probably an accompanying bug repro would increase the likelihood of getting the issue fixed

Cheers - V

[2021-07-28 15:58] lvh commented on #319
@superwesman I'd still be happy to take a PR :)

[2021-08-04 11:50] AndreaCrotti opened #323 "lcov report relative paths"
Not 100% is a bug, but I was using https://github.com/twada/coverlay.el/
and I noticed it would not work because the paths in the lcov report generated from cloverage contain relative paths, instead of absolute paths.

Would it make sense to output absolute paths instead to make sure it works with other tools?

[2021-08-31 07:31] pratik97 opened #324 "Dynamically modify cloverage output path"
cloverage by default puts the report in target/coverage folder, but I wanted to dynamically give the path like
[code]
This would help me compare the test coverage of previous test runs and exactly which modules have changed in terms if coverage.

[2021-08-31 14:04] lvh commented on #324
Could you work around this with a `mv`, or is Cloverage in a unique position to do that for you?

[2021-08-31 15:58] pratik97 commented on #324
sure, I can move the target/coverage folder somewhere and work with it(or just change the output path before running the Cloverage) but I have often found myself want to compare x branch's test coverage with y branch's test coverage, it would be really nice if Cloverage has a capability to automate that.

[2021-09-01 10:42] AndreaCrotti commented on #323
I can't really find an official reference of the lcov format that says if the path should be relative or absolute but I found
https://github.com/facebook/jest/issues/9773
for example.
So maybe the safest option is to return absolute paths, which seems like an easy fix from the code, if it's something you agree with I can also give it a go.

[2021-09-04 17:24] lvh commented on #323
I think that's fine, but it'd be nice if that was configurable via command line parameter.

[2021-09-17 20:28] AndreaCrotti commented on #176
Just saw this, any change of the support to the cobertura format could be added?
It's the format that gitlab requires, would be great if I could do it directly with cloverage.
Would you accept PRs adding it?

[2021-09-17 21:46] lvh commented on #176
I'd be happy to review and accept a PR but don't have the resources to do the development.

[2021-09-27 16:01] rickschubert commented on #54
Can we please close this issue? #230 has fixed it.

[2021-09-27 16:42] lvh commented on #54
Yup, thanks!

[2021-09-27 16:42] #54 closed

[2022-01-04 19:22] luxcodes opened #328 ":report key suppresses failed exit codes"
When using eftest as the runner and passing in `eftest.report.pretty/report` to the `:report` key in `:runner-opts` to hide the progress bar, running cloverage does NOT produce a non-zero exit code on failed tests.

This is problematic in that test failures wont produce a failed build.

[2022-01-09 11:37] eu400000 commented on #312
Hi, I still have this issue in 1.2.2, should this issue not be re-opened (not sure if that is how things work in GitHub)?

[2022-01-09 16:02] lvh commented on #312
@eu400000 Can you please check if the issue is resolved in -SNAPSHOT or git master?

[2022-01-10 17:04] eu400000 commented on #312
@lvh , I'm sorry, I'm relatively new to Clojure and GitHub. I'm willing to help but need some guidance.
When you mention -SNAPSHOT, I can only see old versions with -SNAPSHOT in Clojar, or should I look somewhere else for 1.2.2-SNAPSHOT (or higher)?
Wrt git master, I can clone the repo to local but then I don't know what to do as there seems to be 2 projects (cloverage and lein-cloverage) and with

[2022-02-09 19:28] mrkam2 opened #329 "Getting "Method code too large" error on a relatively short function"
The function uses korma `[korma.core :as k]` and looks like this:
[code]

where `a`, `b` and many others are korma entities as defined by `korma.core/defentity`.

The error looks like:
[code]

[2022-03-22 13:03] vemv commented on #329
The way I fixed this in Eastwood (https://github.com/jonase/eastwood/pull/359) was by removing as much metadata as possible (which in Eastwood's case comes from tools.analyzer / tools.reader), perhaps that would make sense here? @lvh

@mrkam2, I'd humbly suggest to provide a fully reproducible namespace, for instance one can't know what `f1` is. The `korma` version might matter as well.

[2022-03-22 13:29] vemv opened #330 "Distinction between compile-time and runtime forms"
Hi there,

for this minimal namespace which is required but not exercised in a deftest, I will get this coverage report:

<img width="326" alt="Screen Shot 2022-03-22 at 14 16 00" src="https://user-images.githubusercontent.com/1162994/159490703-fe2c9e30-a0d2-4ba6-bff6-16dde0c6630e.png">

I'd argue that _only requiring_ a namespace does not constitute any sort of meaningful code coverage. Therefore

[2022-03-22 15:20] lvh commented on #330
Hm, interesting! Some thoughts:

- Given that a lot of Clojure code isn't AOT compiled but rather required, it does seem like requiring the namespace isn't _entirely_ useless.
- Do any of the existing output formats make this distinction? It feels like, say, Python has the same issue.

[2022-03-23 05:23] vemv commented on #318
The workaround is no longer needed as of Cloverage 1.2.3

[2022-03-23 05:23] vemv commented on #312
The workaround is no longer needed as of Cloverage 1.2.3

[2022-03-23 05:29] vemv commented on #330
Perhaps usefuless is not the right property to target. Cloverage does not only have to be useful, but also measure coverage, with as few false positives as possible?

Checking that a ns can be `require`d can also be performed by e.g. `lein check` or various other linters.

(IDK)

Anyway I've hacked a bit on Cloverage and the feature seems at hand. Hammocking welcome in case the idea happened to fe

[2022-04-07 11:48] vemv opened #331 "Invalid value: `:runner midje` doesn't fail the build"
If in a Lein map I specify:

[code]

I will see printed:

[code]

and then the suite will proceed with the clojure.test runner, exiting with code 0.

This doesn't seem correct behavior for a test runner - I'd expect the handling of such a situation to be a fail-fast with non-zero exit code.

[2022-04-07 18:42] lvh commented on #331
Agreed; it should exit immediately with an error.

[2022-04-07 18:43] vemv commented on #331
Cheers, I'll give it a go

[2022-04-12 22:34] johnnywell opened #333 "Is there any way to set the fail threshold for forms and lines separately?"
I have set up the fail threshold to 80%. Considering the coverage is failing for Forms with 66,92 % and Lines with 94,68. I'm assuming this threshold takes both or at least Forms into consideration.

Is there any way I can set different thresholds for these two dimensions?

[2022-05-18 13:00] BrunoBonacci opened #334 "Property null is not supported"
please update `clojure.data.xml` as it conflicts with project dependencies causing the following error.

[code]

For example, anything using `cognitect.aws-api` (which transitively uses `clojure.data.xml`) will fail durin `lein cloverage` as their dependency is shadowed by the plugin jar.

Please bump the dependency to:

`[org.clojure/data.xml "0.2.0-alpha6"]`

[2022-05-23 19:31] vemv commented on #219
@lvh: this issue seems good to close, Cloverage has seen quite a few releases since.

[2022-05-23 20:22] lvh commented on #219
Thanks!

[2022-05-23 20:22] #219 closed

[2022-05-23 20:34] #331 closed

[2022-05-23 20:35] #218 closed

[2022-05-23 20:35] #319 closed

[2022-05-23 20:35] #334 closed

[2022-07-13 18:39] translunar opened #340 "Syntax error: too many open files"
I'm trying out cloverage for the first time and when I try to run it on a project, I get

[code]

Any ideas how to resolve this or work around it?

[2022-11-15 14:26] JulesGosnell commented on #329
It seems to be a combination of [at least] the number of methods and the total number of their parameters - the names of these do not seem to matter:

[code]

This hits the issue above - whereas commenting out the last method or removing a1-5 from m22 will allow it to pass.

[2022-11-15 14:35] JulesGosnell commented on #329
Tested openjdk 8 and 17, clojure 1.10.3, cloverage 1.2.3 and 1.2.4